<div class="FooterMainDiv">

    <div class="getInTouchDiv">
        <h2 class="getInTouch">Get in touch</h2>
        <p class="paragraph">support@flobiz.in</p>
        <h3>+91 740041 7400</h3>
        <div class="whatsAppDiv">
            <img src="	https://mybillbook.in/static-assets/images/whatsapp-1.webp" class="whatsAppIcon">
            <span class="whatsApp">WhatsApp us </span>
        </div>
        <h2 class="followus">Follow us</h2>

    </div>



    <div class="informationDiv">
        <h2 class="getInTouch">Information</h2>
        <p class="paragraph"><a href="">Privacy Policy</a></p>
        <p class="paragraph"><a href="">Refund Policy</a></p>
        <p class="paragraph"><a href="">Terms & Conditions</a></p>
        <p class="paragraph"><a href="">FloBiz Business Groups</a></p>
        <p class="paragraph"><a href="">License keys</a></p>
        <p class="paragraph"><a href="">Customer care</a></p>
        <p class="paragraph"><a href="">Become Reseller</a></p>
    </div>




    <div class="blog">
        <p class="paragraph"><a href="">Blog</a></p>
        <p class="paragraph"> <a href="">Service Pages</a></p>
        <p class="paragraph"> <a href="">myBillBook Coupon Code</a></p>
        <p class="paragraph"> <a href="">Service pack</a></p>
        <p class="paragraph"> <a href="">Pricing Plans</a></p>
        <p class="paragraph"> <a href="">HTML Sitemap</a></p>

    </div>




    <div class="invoiceFooter">
        <p class="paragraph"> <a href="">Invoicing Software </a></p>
        <p class="paragraph"> <a href="">Inventory Management Software</a></p>
        <p class="paragraph"> <a href="">Retail POS Software</a></p>
        <p class="paragraph"> <a href="">Accounting Software </a></p>
        <p class="paragraph"> <a href="">Billing Software For PC</a></p>
        <p class="paragraph"> <a href="">Offline Billing Software</a></p>


    </div>

    <div class="TrandingFooter">
        <h2 class="getInTouch">Trending Articles</h2>
        <p class="paragraph"> <a href="">SAC Code </a></p>
        <p class="paragraph"> <a href="">Delivery Challan </a></p>
        <p class="paragraph"> <a href="">Credit Note Format</a></p>
        <p class="paragraph"> <a href="">Debit Note Format</a></p>
        <p class="paragraph"> <a href="">Proforma Invoice Format</a></p>
        <p class="paragraph"><a href="">Direct Indirect Expenses</a></p>

    </div>




</div>