
.FooterMainDiv{
	display:flex;
	justify-content: space-between;
	margin-top: 50px;
	background-color: rgb(188, 234, 212);
}


.getInTouchDiv{
	padding-left: 70px;

}

.getInTouch{
	color:orangered

}

.paragraph{
	font-size:22px;
}

.TrandingFooter{
	padding-right: 70px;
}

.whatsAppIcon{
 width:30px
}
.whatsApp{
	font-size: 20px;
	margin-left: 20px;
	color:green;

}
.whatsAppDiv{
	margin-top: 20px;
	border:8px solid rgb(166, 251, 227);;
	text-align: center;
	background-color: rgb(166, 251, 227);
	border-radius: 10px;
	cursor: pointer;
}
.followus{
	margin-top: 20px;

}
.matfooter{
	margin-top: 30px;
	width:53px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;

}
.flexYoutubeIcons{
	display:flex;
	justify-content:space-between;
}

.manyButtons{
  margin-top: 40px;

}

/* /////////////////////////////////////////MIDIA QUERY START FROM HERE ///////////////////////////////////////*/

@media(min-width:1400px) and (max-width:1500px){

				
					.FooterMainDiv{
						display:flex;
						justify-content: space-between;
						margin-top: 50px;
						width:110%;
					}
					
				
}



@media(min-width:700px) and (max-width:775px){
		
			.FooterMainDiv{
				display:flex;
				justify-content: space-between;
				margin-top: 50px;
				width:161%;
			}			
		

			.getInTouchDiv{
				padding-left: 20px;
			
			}

			.TrandingFooter{
				padding-right: 0px;
			}

			.whatsAppDiv{
				margin-top: 20px;
				border:8px solid rgb(166, 251, 227);;
				text-align: center;
				background-color: rgb(166, 251, 227);
				border-radius: 10px;
				cursor: pointer;
				width:80%;
			}
}
	

 @media(min-width:370px) and (max-width:450px){


		.FooterMainDiv{
			display:flex;
			justify-content: space-between;
			margin-top: 50px;
			width:250%;
		}			
	

		.getInTouchDiv{
			padding-left: 20px;
		
		}

		.TrandingFooter{
			padding-right: 0px;
		}

		.whatsAppDiv{
			margin-top: 20px;
			border:8px solid rgb(166, 251, 227);;
			text-align: center;
			background-color: rgb(166, 251, 227);
			border-radius: 10px;
			cursor: pointer;
			width:80%;
		}
		

}