<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
        <app-sidenav-menu></app-sidenav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer class="example-sidenav" mode="side">
        <h6>jsbjs</h6>
    </mat-drawer>

    <div class="example-sidenav-content">
        k<p>jsbkjbjkabkja</p>
    </div>

</mat-drawer-container> -->


<app-header></app-header>
<router-outlet></router-outlet>
<app-sidenav-menu></app-sidenav-menu>