.example-container {
	width: 500px;
	height: 300px;
	border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .signInButton{
	margin-left:260px;
  }
  .example-sidenav-content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
  }
  
  .example-sidenav {
	padding: 20px;
  }
  

 .buttonSmall{
      display:flex;
	  justify-content: flex-end;
	  border:2px solid red;
  }

  .setName{
	margin-top:12px;
	margin-left:10px;
	cursor: pointer;
	font-weight: bold;
	color:white;
}
.accountCircle{
	font-size: 30px;
	margin-left:230px;
	margin-top: 15px;
	color: white;
}

.profile{
	margin-left: 20px;
	font-size: 18px;
	color:black;
	margin-top: 10px;
}
.profile1{
	font-size:18px ;
	margin-left: 20px;
	color:orange;
	cursor: pointer;


}
.mainDrop{
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 15px;
}
.tri{
	border-top: 20px solid white;
	position: absolute;
	margin-top:-15px;
	width:30px;
	right: 10%;
	transform: rotate(45deg); 

}

.childDiv{
	display:flex;
	margin-top:-10px;
	width:250px;
	
	}
	.caret{
			width:100%;
	}
	.manageDiv{
		border-top: 2px solid rgb(248, 235, 235);
	}
	.manage{
		margin-left: 20px;
		color:black ;
		cursor:pointer;
		font-size: 18px;
	}
	.manageCustomer{
		margin-left: 20px;
		margin-top: 10px;
		color: black;
		font-size: 18px;
	}
	
	.createAn{
		margin-left: 20px;
		margin-top: -8px;
		color: orange;
		font-size:18px;
		cursor: pointer;
	}


	@media(min-width:340px) and (max-width:400px){
		.signInButton{
			margin-left:220px;
		  }

		  .accountCircle{
			font-size: 30px;
			margin-left:180px;
			margin-top: 15px;
			color: white;
		}

	}

	@media(min-width:280px) and (max-width:330px){
		.signInButton{
			margin-left:160px;
		  }

		  .mainDrop{
			background-color: white;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin-top: 15px;
		}
		.accountCircle{
			font-size: 30px;
			margin-left:130px;
			margin-top: 15px;
			color: white;
		}
	}
	@media(min-width:700px) and (max-width:790px){
		.signInButton{
			margin-left:600px;
		  }

		  .accountCircle{
			font-size: 30px;
			margin-left:580px;
			margin-top: 15px;
			color: white;
		}
	}

  @media(min-width:800px){
   .hideSidenavContainer{
	display:none
}
  }

  @media(max-width:800px){
	.showHeader{
		display:none
	}
	.op{
		position: relative;
		right:5px;
	}

  }