<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Tickets</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/mainadmin/admindashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Tickets</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="card-group m-b-30">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="d-block">New Tickets</span>
              </div>
              
            </div>
            <h3 class="mb-3">{{ newTickets }}</h3>
            <div class="progress mb-2" style="height: 5px">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="d-block">Solved Tickets</span>
              </div>
              
            </div>
            <h3 class="mb-3">{{ countResolved }}</h3>
            <div class="progress mb-2" style="height: 5px">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="d-block">Open Tickets</span>
              </div>
             
            </div>
            <h3 class="mb-3">{{ countOpen }}</h3>
            <div class="progress mb-2" style="height: 5px">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="d-block">Pending Tickets</span>
              </div>
              
            </div>
            <h3 class="mb-3">{{ countPending }}</h3>
            <div class="progress mb-2" style="height: 5px">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Filter -->
  <div class="row filter-row">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
      <div class="form-group form-focus">
        <input
          type="text"
          class="form-control floating"
          (input)="searchName($event.target.value)"
        />
        <label class="focus-label">Ticket details</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
      <div class="form-group form-focus select-focus">
        <select
          class="-form-select floating form-control"
          (input)="searchStatus($event.target.value)"
        >
          <option value="">-- Select --</option>
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="Returned">Returned</option>
        </select>
        <label class="focus-label">Status</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
      <div class="form-group form-focus select-focus">
        <select
          class="-form-select floating form-control"
          (input)="searchPriority($event.target.value)"
        >
          <option value="">-- Select --</option>
          <option value="High">High</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
        </select>
        <label class="focus-label">Priority</label>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
      <button
        [disabled]="disableButton"
        class="btn btn-success w-100"
        (click)="getSearchData(from.value, to.value)"
      >
        Search
      </button>
    </div>
  </div>
  <!-- /Search Filter -->


  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-striped custom-table mb-0 datatable"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Ticket Subject</th>
              <th>Company Name</th>
              <th>Reply Phone</th>
              <th>Reply Email</th>
              <th>Priority</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tickets of allTickets; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a>{{ tickets.ticketSubject }}</a>
              </td>
              <td>{{ tickets.companyName }}</td>

              <td>{{ tickets.replyPhone }}</td>
              <td>{{ tickets.replyEmail }}</td>
              <td class="text-center">
                
                  <ng-container *ngIf="tickets.priority == 'High'">
                    <span class="text-danger">{{ tickets.priority }}</span>
                  </ng-container>
               
                  <ng-container *ngIf="tickets.priority == 'Medium'">
                    <span class="text-warning">{{ tickets.priority }}</span>
                  </ng-container>
                  <ng-container *ngIf="tickets.priority == 'Low'">
                    <span class="text-success">{{ tickets.priority }}</span>
                  </ng-container>
                
                  
               
              </td>
              <td class="text-center"> 
                <div class="dropdown action-label">


                  <ng-container *ngIf="tickets.status == 'Reopened'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-info"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'Open'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-info"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'Cancelled'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-danger"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'OnHold'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-danger"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'Closed'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-success"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'InProgress'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-success"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>
                  <ng-container *ngIf="tickets.status == 'New'">
                    <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-warning"></i>
                    {{ tickets.status }}
                  </a>
                </ng-container>


                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Open', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-info"></i> Open</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Reopened', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-info"></i> Reopened</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('OnHold', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-danger"></i> On Hold</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Closed', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-success"></i> Closed</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('InProgress', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-success"></i> In
                      Progress</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Cancelled', tickets.id)"
                      ><i class="fa fa-dot-circle-o text-danger"></i>
                      Cancelled</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- /Page Content -->
