<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">My Leads</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/layout/affiliates/affiliatedashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Leads</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto">
          <div class="view-icons">
            <a
              routerLink="/layout/affiliates/myleads/myleads"
              class="list-view btn btn-link active"
              ><i class="fa fa-bars"></i
            ></a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
  
    
  
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            id="datatable"
            class="table table-striped custom-table datatable"
          >
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Company Name</th>
                <th>Co-operate ID</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Package Name</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leads; let i = index">
                <td>{{i+1}}</td>
                <td>{{ data.companyName }}</td>
                <td>{{ data.corporateId }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.mobile }}</td>
                <td>{{ data.packageName }}</td>
                <td>
                <ng-container *ngIf="data.status==0">
                  <span class="text-warning">Pending</span>
                </ng-container>
              </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
  
  
  
  
  
  <!-- Delete Client Modal -->
  <div class="modal custom-modal fade" id="delete_client" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Client</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary continue-btn" 
                  >Delete</a
                >
              </div>
              <div class="col-6">
                <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Client Modal -->
  