<div class="FooterMainDiv">

    <div class="getInTouchDiv">
        <h2 class="getInTouch">Get in touch</h2>
        <p class="paragraph">support@flobiz.in</p>
        <h3>+91 740041 7400</h3>
        <div class="whatsAppMainDiv">
            <div class="whatsAppDiv">
                <img src="	https://mybillbook.in/static-assets/images/whatsapp-1.webp" class="whatsAppIcon">
                <span class="whatsApp">WhatsApp us </span>
            </div>
        </div>
        <h2 class="followus">Follow us</h2>

    </div>



    <div class="informationDiv">
        <h2 class="getInTouch">Information</h2>
        <p class="paragraph"><a class="paragraph" href="">Privacy Policy</a></p>
        <p class="paragraph"><a class="paragraph" href="">Refund Policy</a></p>
        <p class="paragraph"><a class="paragraph" href="">Terms & Conditions</a></p>
        <p class="paragraph"><a class="paragraph" href="">FloBiz Business Groups</a></p>
        <p class="paragraph"><a class="paragraph" href="">License keys</a></p>
        <p class="paragraph"><a class="paragraph" href="">Customer care</a></p>
        <p class="paragraph"><a class="paragraph" href="">Become Reseller</a></p>
    </div>




    <div class="blog">
        <p class="paragraph"><b> <a class="paragraph" href="" style="color:orangered">Blog</a></b></p>
        <p class="paragraph"> <a class="paragraph" href="">Service Pages</a></p>
        <p class="paragraph"> <a class="paragraph" href="">myBillBook Coupon Code</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Service pack</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Pricing Plans</a></p>
        <p class="paragraph"> <a class="paragraph" href="">HTML Sitemap</a></p>

    </div>




    <div class="invoiceFooter">
        <p class="paragraph"> <b class="paragraph"><a href="" style="color:orangered">Invoicing Software </a></b></p>
        <p class="paragraph"> <a class="paragraph" href="">Inventory Management Software</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Retail POS Software</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Accounting Software </a></p>
        <p class="paragraph"> <a class="paragraph" href="">Billing Software For PC</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Offline Billing Software</a></p>


    </div>

    <div class="TrandingFooter">
        <h2 class="getInTouch">Trending Articles</h2>
        <p class="paragraph"> <a class="paragraph" href="">SAC Code </a></p>
        <p class="paragraph"> <a class="paragraph" href="">Delivery Challan </a></p>
        <p class="paragraph"> <a class="paragraph" href="">Credit Note Format</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Debit Note Format</a></p>
        <p class="paragraph"> <a class="paragraph" href="">Proforma Invoice Format</a></p>
        <p class="paragraph"><a class="paragraph" href="">Direct Indirect Expenses</a></p>

    </div>




</div>