
.FooterMainDiv{
	display:flex;
	justify-content: space-between;
	/* margin-top: 50px; */
	/* background-color: rgb(188, 234, 212); */
	background-color: #3f51b5;
}


.getInTouchDiv{
	padding-left: 70px;

}

.getInTouch{
	color:orangered

}

.paragraph{
	font-size:22px;

	color: white;

}

.TrandingFooter{
	padding-right: 70px;
}

.whatsAppIcon{
 width:30px
}
.whatsApp{
	font-size: 20px;
	margin-left: 20px;
	color:green;

}
.whatsAppDiv{
	margin-top: 20px;
	border:8px solid rgb(166, 251, 227);;
	text-align: center;
	background-color: rgb(166, 251, 227);
	border-radius: 10px;
	cursor: pointer;
}
.followus{
	margin-top: 20px;

}
.matfooter{
	margin-top: 30px;
	width:53px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;

}
.flexYoutubeIcons{
	display:flex;
	justify-content:space-between;
}

.manyButtons{
  margin-top: 40px;

}

/* /////////////////////////////////////////MIDIA QUERY START FROM HERE ///////////////////////////////////////*/

@media(min-width:1400px) and (max-width:1500px){

				
					.FooterMainDiv{
						display:flex;
						justify-content: space-between;
						/* margin-top: 50px; */
						width:100%;
					}
					
				
}



@media(min-width:700px) and (max-width:775px){
		
			.FooterMainDiv{
				display:flex;
				justify-content: space-between;
				/* margin-top: 50px; */
				width:100%;
			}			
			.getInTouchDiv{
				padding-left: 20px;
			
			}
			.getInTouch{
				color:orangered;
				font-size:20px
			
			}			
			
			.TrandingFooter{
				padding-right: 0px;
			}

			.whatsAppDiv{
				margin-top: 20px;
				border:8px solid rgb(166, 251, 227);;
				text-align: center;
				background-color: rgb(166, 251, 227);
				border-radius: 10px;
				cursor: pointer;
				width:80%;
			}
			.paragraph{
				font-size:15px;
				
			}
			.whatsAppIcon{
				width:20px;
			}
			.whatsApp{
				font-size: 10px;
				margin-left: 5px;
			}
}
	

 @media(min-width:300px) and (max-width:450px){
		.FooterMainDiv{
			display:flex;
			flex-direction: column;
			width:100%;	
		
		}				
		.getInTouchDiv{
			padding-left: 5px;
			text-align: center;
		
		}
		
		.informationDiv{
         text-align: center;
		 margin-top: 15px;

		}
		.blog{
			text-align: center;
			margin-top: 15px;


		}
		.ourProducts{
			text-align: center;
			margin-top: 15px;
			margin-top:8px;
		}


		.TrandingFooter{
			text-align: center;
			margin-top: 15px;
			padding-right: 2px;
		}
		.whatsAppIcon{
			width:20px;
		}
		.whatsApp{
			font-size: 10px;
			margin-left: 5px;
		}
		.whatsAppDiv{
			margin-top: 20px;
			border:8px solid rgb(166, 251, 227);;
			text-align: center;
			background-color: rgb(166, 251, 227);
			border-radius: 10px;
			cursor: pointer;
			width:60%;
		}
		.whatsAppMainDiv{
			display:flex;
			justify-content: center;
		}

		.followus{
			margin-top: 20px;
			font-size: 20px;
		
		}
}