<div class="FooterMainDiv">

    <div class="getInTouchDiv">
        <h2 class="getInTouch">Get in touch</h2>
        <p class="paragraph">support@srmak.com</p>
        <h3 style="color:white">0522-4050-615</h3>
        <div class="whatsAppMainDiv">
            <div class="whatsAppDiv">
                <img src="	https://mybillbook.in/static-assets/images/whatsapp-1.webp" class="whatsAppIcon">
               <!-- Kindly add below the ancher link for whatsapp chating & Help Support     -->
                <!-- <a href=" https://wa.me/918400888951?text=Welcome%20to%20SRMAK%20HR%20Smart%20Software%2C%20How%20Can%20I%20help%20You%20...%3F "></a> -->
                <span class="whatsApp">WhatsApp us </span>
            </div>
        </div>
        <h2 class="followus">Follow us</h2>

    </div>



    <div class="informationDiv">
        <h2 class="getInTouch">Information</h2>

        <p class="paragraph"><a  class="paragraph" href="">Privacy Policy</a></p>
        <p class="paragraph"><a  class="paragraph" href="">Refund Policy</a></p>
        <p class="paragraph"><a  class="paragraph" href="">Terms & Conditions</a></p>
        <p class="paragraph"><a  class="paragraph" href="">Customer care</a></p>
        <p class="paragraph"><a  class="paragraph" href="http://localhost:4200/affiliates">Become Affiliate</a></p>
        <p class="paragraph"><a  class="paragraph" href="">Contact US</a></p>


    </div>




    <div class="blog">

        <p class="paragraph "><b><a  href="" style="color:orangered">Blog</a></b></p>
        <p class="paragraph"> <a class="paragraph"  href="">HR Smart Coupon Code</a></p>
        <p class="paragraph"> <a class="paragraph" href="http://localhost:4200/pricings">Pricing</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Sitemap</a></p>


    </div>




    <div class="ourProducts">
        <p class="paragraph"> <b class="paragraph"><a  href="" style="color:orangered">Our Products </a></b></p>
        <p class="paragraph"> <a class="paragraph"  href="">Payroll Software</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">HR Management Software </a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Attendance Management System</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Leave Management System</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Employee Self Control Service</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Fully Smart Interview</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Online Salary Slip </a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Biometric Intrigation</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Online Job Portal</a></p>



    </div>

    <div class="TrandingFooter">
        <h2 class="getInTouch">Trending Articles</h2>

        <p class="paragraph"> <a class="paragraph"  href="">What is Payroll?</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">What is HRMS?</a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Leave Management Traning </a></p>
        <p class="paragraph"> <a class="paragraph"  href="">Attendance Management Training</a></p>
        <p class="paragraph"> <a class="paragraph"  href="" >Holiday Lists 2022</a></p>



    </div>


</div>