<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Bank Settings</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form [formGroup]="bankSettings">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Bank Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" 
                                [class.invalid]="companySettings.get('bankName').invalid && companySettings.get('bankName').touched"
                                formControlName="bankName"[(ngModel)]="bankName">
                            <div
                                *ngIf="companySettings.get('bankName').invalid && companySettings.get('bankName').touched">
                                <small
                                    *ngIf="companySettings.get('bankName').invalid && companySettings.get('bankName').touched"
                                    class="text-danger"> *Bank name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Brankch Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" 
                                [class.invalid]="companySettings.get('bankName').invalid && companySettings.get('branchName').touched"
                                formControlName="branchName">
                            <div
                                *ngIf="companySettings.get('branchName').invalid && companySettings.get('branchName').touched">
                                <small
                                    *ngIf="companySettings.get('branchName').invalid && companySettings.get('branchName').touched"
                                    class="text-danger"> *Branch name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Account Holder Name</label>
                            <input class="form-control "  type="text"
                                [class.invalid]="companySettings.get('accountHolderName').invalid && companySettings.get('accountHolderName').touched"
                                formControlName="accountHolderName" >
                            <div
                                *ngIf="companySettings.get('accountHolderName').invalid && companySettings.get('accountHolderName').touched">
                                <small
                                    *ngIf="companySettings.get('accountHolderName').invalid && companySettings.get('accountHolderName').touched"
                                    class="text-danger"> *Contact person is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Account No.</label>
                            <input class="form-control"
                                type="text"
                                [class.invalid]="companySettings.get('accountNumber').invalid && companySettings.get('accountNumber').touched"
                                formControlName="accountNumber" >
                            <div
                                *ngIf="companySettings.get('accountNumber').invalid && companySettings.get('accountNumber').touched">
                                <small
                                    *ngIf="companySettings.get('accountNumber').invalid && companySettings.get('accountNumber').touched"
                                    class="text-danger"> *Account Number is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>IFSC Code</label>
                            <input class="form-control"
                                [class.invalid]="companySettings.get('ifsc').invalid && companySettings.get('ifsc').touched"
                                formControlName="ifsc" >
                                
                            <div
                                *ngIf="companySettings.get('ifsc').invalid && companySettings.get('ifsc').touched">
                                <small
                                    *ngIf="companySettings.get('ifsc').invalid && companySettings.get('ifsc').touched"
                                    class="text-danger"> *IFSC Code is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>Account phone No</label>
                            <input class="form-control"  type="text"
                                [class.invalid]="companySettings.get('phone').invalid && companySettings.get('phone').touched"
                                formControlName="phone" >
                            <div *ngIf="companySettings.get('phone').invalid && companySettings.get('phone').touched">
                                <small
                                    *ngIf="companySettings.get('phone').invalid && companySettings.get('phone').touched"
                                    class="text-danger"> *Phone is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>Account Email</label>
                            <input class="form-control"
                                [class.invalid]="companySettings.get('email').invalid && companySettings.get('email').touched"
                                formControlName="email" [(ngModel)]="current_location.region">
                                
                            <div *ngIf="companySettings.get('email').invalid && companySettings.get('email').touched">
                                <small
                                    *ngIf="companySettings.get('email').invalid && companySettings.get('email').touched"
                                    class="text-danger"> *Email is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input class="form-control"  type="text"
                                [class.invalid]="companySettings.get('postalCode').invalid && companySettings.get('postalCode').touched"
                                formControlName="postalCode" [(ngModel)]="current_location.postal">
                            <div
                                *ngIf="companySettings.get('postalCode').invalid && companySettings.get('postalCode').touched">
                                <small
                                    *ngIf="companySettings.get('postalCode').invalid && companySettings.get('postalCode').touched"
                                    class="text-danger"> *Postal code is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" placeholder="bank@srmakts.com" type="email"
                                [class.invalid]="companySettings.get('email').invalid && companySettings.get('email').touched"
                                formControlName="email" [(ngModel)]="companyEmail">
                            <div *ngIf="companySettings.get('email').invalid && companySettings.get('email').touched">
                                <small
                                    *ngIf="companySettings.get('email').invalid && companySettings.get('email').touched"
                                    class="text-danger"> *Email is required</small>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
                
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn" (click)="submitCompany()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->