<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Profile Settings</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form [formGroup]="bankSettings">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" 
                                [class.invalid]="bankSettings.get('firstName').invalid && bankSettings.get('firstName').touched"
                                formControlName="firstName">
                            <div
                                *ngIf="bankSettings.get('firstName').invalid && bankSettings.get('firstName').touched">
                                <small
                                    *ngIf="bankSettings.get('firstName').invalid && bankSettings.get('firstName').touched"
                                    class="text-danger"> *Name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" 
                                [class.invalid]="bankSettings.get('lastName').invalid && bankSettings.get('lastName').touched"
                                formControlName="lastName">
                            <div
                                *ngIf="bankSettings.get('lastName').invalid && bankSettings.get('lastName').touched">
                                <small
                                    *ngIf="bankSettings.get('lastName').invalid && bankSettings.get('lastName').touched"
                                    class="text-danger"> *Last name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control "  type="text"
                                [class.invalid]="bankSettings.get('address').invalid && bankSettings.get('address').touched"
                                formControlName="address" >
                            <div
                                *ngIf="bankSettings.get('address').invalid && bankSettings.get('address').touched">
                                <small
                                    *ngIf="bankSettings.get('address').invalid && bankSettings.get('address').touched"
                                    class="text-danger"> *Address is required</small>
                            </div>
                        </div>
                    </div>
              
                
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Country</label>
                            <input class="form-control"
                                type="text"
                                [class.invalid]="bankSettings.get('country').invalid && bankSettings.get('country').touched"
                                formControlName="country" >
                            <div
                                *ngIf="bankSettings.get('country').invalid && bankSettings.get('country').touched">
                                <small
                                    *ngIf="bankSettings.get('country').invalid && bankSettings.get('country').touched"
                                    class="text-danger"> *Country is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>State</label>
                            <input class="form-control"
                                [class.invalid]="bankSettings.get('state').invalid && bankSettings.get('state').touched"
                                formControlName="state" >
                                
                            <div
                                *ngIf="bankSettings.get('state').invalid && bankSettings.get('state').touched">
                                <small
                                    *ngIf="bankSettings.get('state').invalid && bankSettings.get('state').touched"
                                    class="text-danger"> *State is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>City</label>
                            <input class="form-control"  type="text"
                                [class.invalid]="bankSettings.get('city').invalid && bankSettings.get('city').touched"
                                formControlName="city" >
                            <div *ngIf="bankSettings.get('city').invalid && bankSettings.get('city').touched">
                                <small
                                    *ngIf="bankSettings.get('city').invalid && bankSettings.get('city').touched"
                                    class="text-danger"> *city is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Pin Code</label>
                            <input class="form-control"  type="text"
                                [class.invalid]="bankSettings.get('city').invalid && bankSettings.get('city').touched"
                                formControlName="pinCode" >
                            <div *ngIf="bankSettings.get('pinCode').invalid && bankSettings.get('pinCode').touched">
                                <small
                                    *ngIf="bankSettings.get('pinCode').invalid && bankSettings.get('pinCode').touched"
                                    class="text-danger"> *Pin Code is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control"
                                [class.invalid]="bankSettings.get('email').invalid && bankSettings.get('email').touched"
                                formControlName="email">
                                
                            <div *ngIf="bankSettings.get('email').invalid && bankSettings.get('email').touched">
                                <small
                                    *ngIf="bankSettings.get('email').invalid && bankSettings.get('email').touched"
                                    class="text-danger"> *Email is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Phone</label>
                            <input class="form-control"
                                [class.invalid]="bankSettings.get('phone').invalid && bankSettings.get('phone').touched"
                                formControlName="phone">
                                
                            <div *ngIf="bankSettings.get('phone').invalid && bankSettings.get('phone').touched">
                                <small
                                    *ngIf="bankSettings.get('phone').invalid && bankSettings.get('phone').touched"
                                    class="text-danger"> *Phone is required</small>
                            </div>
                        </div>
                    </div>
                  
                </div>
                
               
                
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn" (click)="updateBankDetails()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->