<app-header class="fixed-top headerCom"></app-header>

<div class="mainDiv">

    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #5d9cec">
            <div class="page-header orange">
                <h4>Free User(Single-User)</h4>
            </div>
            <div class="text-center">
                <p>Use Free For 90 Days</p>

                <p> + GST 18%</p>

                <div style="margin-top: 20px;">
                    <p><b>Free</b></p>
                </div>
            </div>

            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#freeUser" style="text-align:center;">View
                    Details?</a>
            </div>

            <div class="button">
                <button mat-raised-button color="accent" routerLink="/pages/checkout">Make Payment</button>
            </div>
        </mat-card>

    </div>



    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #37bc9b">
            <div class="page-header blue">
                <h4>Diamond(Single-User)</h4>
            </div>
            <div class="text-center">
                <select class="form-select" aria-label="Default select example" class="selectEmployee"
                    (click)="getUser($event.target.value,'dSingle')" (click)="getPlan('dSingle',select1.value);">
                    <option>Select Employee</option>
                    <option value="50">Up To 50 Employee</option>
                    <option value="150">Up To 150 Employee</option>
                    <option value="300">Up To 300 Employee</option>
                    <option value="500">Up To 500 Employee</option>
                    <option value="700">Up To 700 Employee</option>
                    <option value="1000">Up To 1000 employee</option>
                    <option value="1500">More than 1000 Employee</option>
                </select>
                <p style="margin-top: 15px;">1 Month :{{dSingleoneMonthAmount}} /- Rupees</p>
                <p>+ GST 18%</p>
                <h4>Our Plan</h4>

                <div class="selectFlex">
                    <select #select1 class="form-select" aria-label="Default select example" class="selectWidth"
                        (click)="getPlan('dSingle',select1.value);">
                        <option>Select Year</option>
                        <option value="3">For 3 Month</option>
                        <option value="6">For 6 Month</option>
                        <option value="12">For 1 Year</option>
                        <option value="24">For 2 Year</option>
                        <option value="36">For 3 Year</option>
                        <option value="48">For 4 Year</option>
                        <option value="60">For 5 Year</option>
                        <option value="120"> For 10 Year</option>
                    </select>

                </div>
                <div style="margin-top: 20px;">
                    <p>Total Payable Amount : {{totaldSingleMonthAmount}} /- Only</p>
                </div>

            </div>
            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#dSingleUser" style="text-align:center;">View
                    Details?</a>
            </div>
            <div class="button">
                <button mat-raised-button color="accent" (click)="getData('dSingle')">Make Payment</button>
            </div>

        </mat-card>
    </div>




    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #f05050">
            <div class="page-header red">
                <h4>Diamond(Multi-User)</h4>
            </div>
            <div class="text-center">
                <select class="form-select" aria-label="Default select example" class="selectEmployee"
                    (click)="getUser($event.target.value,'dMulti')" (click)="getPlan('dMulti',select2.value);">
                    <option>select Employee</option>
                    <option value="50">Up To 50 Employee</option>
                    <option value="150">Up To 150 Employee</option>
                    <option value="300">Up To 300 Employee</option>
                    <option value="500">Up To 500 Employee</option>
                    <option value="700">Up To 700 Employee</option>
                    <option value="1000">Up To 1000 employee</option>
                    <option value="1500">More than 1000 Employee</option>
                </select>
                <p style="margin-top: 15px;">1 Month :{{dMultioneMonthAmount}}/- Rupees</p>

                <p>+ GST 18%</p>
                <h4>Our Plan</h4>

                <div class="selectFlex">
                    <select #select2 class="form-select" aria-label="Default select example" class="selectWidth"
                        (click)="getPlan('dMulti',select2.value);">
                        <option>Select Year</option>
                        <option value="3">For 3 Month</option>
                        <option value="6">For 6 Month</option>
                        <option value="12">For 1 Year</option>
                        <option value="24">For 2 Year</option>
                        <option value="36">For 3 Year</option>
                        <option value="48">For 4 Year</option>
                        <option value="60">For 5 Year</option>
                        <option value="120"> For 10 Year</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    <p>Total Payable Amount :{{totaldMultiMonthAmount}} /- Only</p>
                </div>

            </div>

            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#dMultiUser" style="text-align:center;">View
                    Details?</a>
            </div>
            <div class="button">
                <button mat-raised-button color="accent" (click)="getData('dMulti')">Make Payment</button>

            </div>

        </mat-card>
    </div>

</div>





<div class="mainDiv">

    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #5d9cec">
            <div class="page-header blue">
                <h4>Enterprise(Multi-User)</h4>
            </div>
            <div class="text-center">
                <select class="form-select" aria-label="Default select example" class="selectEmployee"
                    (click)="getUser($event.target.value,'epMulti')" (click)="getPlan('epMulti',select3.value);">
                    <option selected>Select Employee</option>
                    <option value="50">Up To 50 Employee</option>
                    <option value="150">Up To 150 Employee</option>
                    <option value="300">Up To 300 Employee</option>
                    <option value="500">Up To 500 Employee</option>
                    <option value="700">Up To 700 Employee</option>
                    <option value="1000">Up To 1000 employee</option>
                    <option value="1500">More than 1000 Employee</option>
                </select>
                <p style="margin-top: 15px;">1 Month :{{epMultioneMonthAmount}} /- Rupees</p>
                <p>+ GST 18%</p>

                <h4>Our Plan</h4>

                <div class="selectFlex">
                    <select #select3 class="form-select" aria-label="Default select example" class="selectWidth"
                        (click)="getPlan('epMulti',select3.value);">
                        <option selected>Select Year</option>
                        <option value="3">For 3 Month</option>
                        <option value="6">For 6 Month</option>
                        <option value="12">For 1 Year</option>
                        <option value="24">For 2 Year</option>
                        <option value="36">For 3 Year</option>
                        <option value="48">For 4 Year</option>
                        <option value="60">For 5 Year</option>
                        <option value="120"> For 10 Year</option>
                    </select>

                </div>
                <div style="margin-top: 20px;">
                    <p>Total Payable Amount : {{totalEpMonthAmount}} /- Only</p>
                </div>

            </div>

            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#enter_prise" style="text-align:center;">View
                    Details?</a>
            </div>

            <div class="button">
                <button mat-raised-button color="accent" (click)=" getData('epMulti')">Make Payment</button>
            </div>


        </mat-card>

    </div>
    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #37bc9b">
            <div class="page-header blue">
                <h4>Platinum(Single-User)</h4>
            </div>
            <div class="text-center">
                <select class="form-select" aria-label="Default select example" class="selectEmployee"
                    (click)="getUser($event.target.value,'ptSingle')" (click)="getPlan('ptSingle',select4.value);">
                    <option>Select Employee</option>
                    <option value="50">Up To 50 Employee</option>
                    <option value="150">Up To 150 Employee</option>
                    <option value="300">Up To 300 Employee</option>
                    <option value="500">Up To 500 Employee</option>
                    <option value="700">Up To 700 Employee</option>
                    <option value="1000">Up To 1000 employee</option>
                    <option value="1500">More than 1000 Employee</option>
                </select>
                <p style="margin-top: 15px;">1 Month :{{ptSingleoneMonthAmount}}/- Rupees</p>
                <p>+ GST 18%</p>

                <h4>Our Plan</h4>
                <div class="selectFlex">
                    <select #select4 class="form-select" aria-label="Default select example" class="selectWidth"
                        (click)="getPlan('ptSingle',select4.value);">
                        <option>Select Year</option>
                        <option value="3">For 3 Month</option>
                        <option value="6">For 6 Month</option>
                        <option value="12">For 1 Year</option>
                        <option value="24">For 2 Year</option>
                        <option value="36">For 3 Year</option>
                        <option value="48">For 4 Year</option>
                        <option value="60">For 5 Year</option>
                        <option value="120"> For 10 Year</option>
                    </select>

                </div>
                <div style="margin-top: 20px;">
                    <p>Total Payable Amount : {{totalPtSingleMonthAmount}} /- Only</p>
                </div>

            </div>
            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#pSingleUser" style="text-align:center;">View
                    Details?</a>
            </div>
            <div class="button">
                <button mat-raised-button color="accent" (click)="getData('ptSingle')">Make Payment</button>
            </div>

        </mat-card>
    </div>

    <div class="matDiv">
        <mat-card class="mat" style="border:2px solid #f05050">
            <div class="page-header red">
                <h4> Platinum(Multi-User)</h4>
            </div>
            <div class="text-center">
                <select class="form-select" aria-label="Default select example" class="selectEmployee"
                    (click)="getUser($event.target.value,'ptMulti')" (click)="getPlan('ptMulti',select5.value);">
                    <option>Select Employee</option>
                    <option value="50">Up To 50 Employee</option>
                    <option value="150">Up To 150 Employee</option>
                    <option value="300">Up To 300 Employee</option>
                    <option value="500">Up To 500 Employee</option>
                    <option value="700">Up To 700 Employee</option>
                    <option value="1000">Up To 1000 employee</option>
                    <option value="1500">More than 1000 Employee</option>
                </select>
                <p style="margin-top: 15px;">1 Month :{{ptMultioneMonthAmount}}/- Rupees</p>

                <p>+ GST 18%</p>

                <h4> Our Plan</h4>
                <div class="selectFlex">
                    <select #select5 class="form-select" aria-label="Default select example" class="selectWidth"
                        (click)="getPlan('ptMulti',select5.value);">
                        <option>Select Year</option>
                        <option value="3">For 3 Month</option>
                        <option value="6">For 6 Month</option>
                        <option value="12">For 1 Year</option>
                        <option value="24">For 2 Year</option>
                        <option value="36">For 3 Year</option>
                        <option value="48">For 4 Year</option>
                        <option value="60">For 5 Year</option>
                        <option value="120">For 10 Year</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    <p>Total Payable Amount :{{totalPtMultiMonthAmount}}/- Only</p>
                </div>

            </div>
            <div style="display:flex;justify-content:center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#pMultiUser" style="text-align:center;">View
                    Details?</a>
            </div>

            <div class="button">
                <button mat-raised-button color="accent" (click)="getData('ptMulti')">Make Payment</button>
            </div>
        </mat-card>
    </div>

</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div id="pMultiUser" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Platinum Multi-User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Platinum Multi user</p>
            </div>
        </div>
    </div>
</div>

<div id="pSingleUser" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">platinum Single-User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>platinum Single User</p>
            </div>
        </div>
    </div>
</div>



<div id="dSingleUser" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Diamond Single-User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Diamond Single-User</p>
            </div>
        </div>
    </div>
</div>

<div id="dMultiUser" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Diamond Multi User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Diamond Multi user</p>
            </div>
        </div>
    </div>
</div>


<div id="enter_prise" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enterprisee User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enterprisee user</p>
            </div>
        </div>
    </div>
</div>


<div id="freeUser" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Free User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Free user</p>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>