<mat-card class="mat">
    <div class="imgDiv">
        <img src="../../../assets/img/logo2.png" class="img">
    </div>

    <div class="mainFlexDiv">
        <div class='flexItems'>
            <h4 class="gap" routerLink="/">Home</h4>
            <h4 class="gap" routerLink="/affiliates">Affiliate</h4>
            <h4 class="gap" routerLink="/pricings"> Pricing</h4>
            <h4 class="gap">Retail POS</h4>
            <h4 class="gap"> FAQs</h4>
        </div>

        <div ngbDropdown class="d-inline-block">
            <ng-container *ngIf="user_type!='hrUser'">
                <div>
                    <button type="button" class="btn btn-outline-success" id="dropdown1" ngbDropdownToggle>Sign
                        In</button>
                </div>
            </ng-container>
            <ng-container *ngIf="user_type=='hrUser'">
                <div class="d-flex">
                    <mat-icon class="accountCircle">account_circle </mat-icon>
                    <p class="setName" id="dropdown1" ngbDropdownToggle>{{firstName}}</p>
                </div>
            </ng-container>
            <div ngbDropdownMenu aria-labelledby="dropdown" class="mainDrop">
                <div class="tri"></div>
                <p class="profile">Existing Customer :-</p>
                <div class="childDiv">
                    <p class="profile1" routerLink="/hr_registration">Login An Account</p>
                </div>
                <div class="manageDiv">
                    <div style="border-bottom:2px solid white">
                        <p class="manageCustomer">New Customer :-</p>
                        <p class="createAn" routerLink="/hr_registration">Create an Account</p>
                    </div>
                    <p class="manage" routerLink="/profiles">Manage Account</p>
                    <p class="manage" routerLink="/products">My Product</p>
                    <p class="manage" routerLink="/" (click)="logout()">Sign Out </p>

                </div>
            </div>
        </div>

        <!-- //////////////////////////////////////-->

    </div>
</mat-card>