<mat-card class="mat">
    <div class="imgDiv">
        <img src="../../../assets/img/logo2.png" class="img">
    </div>

    <div class="mainFlexDiv">
        <div class='flexItems'>
            <h4 class="gap" routerLink="/">Home</h4>
            <h4 class="gap" routerLink="/affiliates">Affiliate</h4>
            <h4 class="gap" routerLink="/pricings"> Pricing</h4>
            <h4 class="gap">Retail POS</h4>
            <h4 class="gap"> FAQs</h4>
        </div>

        <div ngbDropdown class="d-inline-block">
            <ng-container *ngIf="type_user!='hrUser'">
                <div>
                    <button type="button" class="btn btn-outline-success" id="dropdown1" ngbDropdownToggle>Sign
                        In</button>
                </div>
            </ng-container>
            <ng-container *ngIf="type_user=='hrUser'">
                <div class="d-flex">
                    <mat-icon class="accountCircle">account_circle </mat-icon>
                    <p class="setName" id="dropdown1" ngbDropdownToggle>{{firstName}}</p>
                </div>
            </ng-container>
            <div ngbDropdownMenu aria-labelledby="dropdown" class="mainDrop">
                <div class="tri"></div>
                <p class="profile">Have An account? Login in now.</p>
                <div class="childDiv">
                    <p class="profile1" (click)="showPage('login')">Login An
                        Account</p>
                </div>
                <div class="manageDiv">
                    <div style="border-bottom:2px solid rgb(242, 234, 234)">
                        <p class="manageCustomer">New to Srmak? Create an account to get started today.</p>
                        <p class="createAn" (click)="showPage('register')">Create An
                            Account</p>
                    </div>
                    <p [hidden]="isShow" class="manage" routerLink="/profiles">Manage Account</p>
                    <p [hidden]="isShow" class="manage"  routerLink="/products">My Product</p>
                    <p [hidden]="isShow" class="manage"  (click)="logout()">Sign Out </p>
                </div>
            </div>
        </div>

        <!-- //////////////////////////////////////-->

    </div>
</mat-card>