<mat-card class="mat">

    <div class="imgDiv">

        <img src="../../../assets/img/logo2.png" class="img">
    </div>

    <div class="mainFlexDiv">
        <div class='flexItems'>
            <h4 class="gap" routerLink="/pages/affilate"> Affilate</h4>
         
            <h4 class="gap">Who is it For?</h4>
            <h4 class="gap">Online Store</h4>
            <h4 class="gap">Retail POS</h4>
            <h4 class="gap"> Pricing</h4>
            <h4 class="gap"> FAQs</h4>
            
        </div>

        <div class="buttonDiv">

            <h4 class="button"> Login</h4>
        </div>
    </div>
</mat-card>