<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Attendance</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-4">
            <div class="card punch-status">
                <div class="card-body">
                    <h5 class="card-title">Timesheet <small class="text-muted"
                            *ngIf="punchlength>0">{{employeeAttandance[0].date |customDate}}
                        </small></h5>

                    <div class="punch-det">
                        <h6>Punch In at</h6>
                        <p *ngIf="punchlength>0">{{newDay}} {{punchDetails[0].date |customDate}}
                            {{punchDetails[0].time}}</p>
                    </div>
                    <div class="punch-info">
                        <div class="punch-hours">
                            <span *ngIf="punchlength>0">{{employeeAttandance[0].punch
                                |production}}</span>
                        </div>
                    </div>
                    <div class="-btn-section text-center">

                        <ng-container *ngIf="punch==0">
                            <button type="button" class="btn btn-primary punch-btn" (click)="updatePunch()">Punch
                                In</button>
                        </ng-container>
                        <ng-container *ngIf="punch==1">
                            <button type="button" class="btn btn-primary punch-btn" (click)="updatePunch()">Punch
                                Out</button>
                        </ng-container>

                    </div>
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-6 col-6 text-center">
                                <div class="stats-box">
                                    <p>Break</p>
                                    <h6 *ngIf="punchlength>0">{{employeeAttandance[0].punch
                                        |breaktime}}</h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 text-center">
                                <div class="stats-box">
                                    <p>Overtime</p>
                                    <h6 *ngIf="punchlength>0">{{employeeAttandance[0].punch
                                        |overtime}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card att-statistics">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <div class="stats-list">
                        <div class="stats-info">
                            <p>Today <strong *ngIf="punchlength>0">{{employeeAttandance[0].punch
                                    |production}} <small>/ 8 hrs</small></strong>
                            </p>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 31%"
                                    aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>This Week <strong>{{hours}}:{{minute}}
                                    <small> /40 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 31%"
                                    aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>This Month <strong>{{hours}}:{{minute}} <small>/ 160 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 62%"
                                    aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>Remaining <strong>90 <small>/ 160 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 62%"
                                    aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>Overtime <strong>4</strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 22%"
                                    aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card recent-activity">
                <div class="card-body">
                    <h5 class="card-title">Today Activity</h5>
                    <ng-container *ngIf="punchlength>0">
                        <ul *ngFor="let item of punchused">
                            <li *ngIf="item.status==0">
                                <p class="mb-0">Punch In at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    {{item.time}}
                                </p>
                            </li>

                            <li *ngIf="item.status==1">
                                <p class="mb-0">Punch Out at</p>
                                <p class="res-activity-time">
                                    <i class="fa fa-clock-o"></i>
                                    {{item.time}}
                                </p>
                            </li>

                        </ul>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }">
                </div>
                <label class="focus-label">Date</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="form-select floating form-control">
                    <option>-</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
                <label class="focus-label">Select Month</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="form-select floating form-control">
                    <option>-</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                </select>
                <label class="focus-label">Select Year</label>
            </div>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date </th>
                            <th>Punch In</th>
                            <th>Punch Out</th>
                            <th>Production</th>
                            <th>Break</th>
                            <th>Overtime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of employeeAttandance;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{row.date}}</td>


                            <td *ngIf="row.punch.length>0">{{row.punch[0].time}}</td>


                            <td *ngIf="row.punch.length>1">
                                <ng-container *ngIf="row.punch[row.punch.length-1].status==1">
                                    {{row.punch[row.punch.length-1].time}}
                                </ng-container>

                                <ng-container *ngIf="row.punch[row.punch.length-1].status==0">
                                    {{row.punch[row.punch.length-2].time}}
                                </ng-container>
                            </td>



                            <td *ngIf="row.punch.length>1">{{row.punch |production}}</td>
                            <td *ngIf="row.punch.length>2">{{row.punch|breaktime}}</td>

                            <td *ngIf="row.punch.length>1">{{row.punch |overtime}}</td>

                        </tr>
                        <!-- <tr>
                            <td>2</td>
                            <td>20 Feb 2019</td>
                            <td>10 AM</td>
                            <td>7 PM</td>
                            <td>9 hrs</td>
                            <td>1 hrs</td>
                            <td>0</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->