<!-- //////////////////////////////HR--USER--REGISTRATION SECTION--/////////////////////////////////////////////////// -->


<div [hidden]="showRegister" class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>Already Have an Account !</p>
            <input type="submit" name="" value="Login" (click)="showData()" /><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading"><u>Register as a Employee</u></h3>
                    <form [formGroup]="registerForm" (ngSubmit)="registerUsers()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="First Name *" value="" />
                                </div>
                                <small
                                    *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched"
                                    class="text-danger"> *First Name is required</small>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="lastName"
                                        placeholder="Last Name *" value="" />
                                </div>
                                <small
                                    *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched"
                                    class="text-danger"> *Last Name is required</small>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Password *" value="" />
                                </div>
                                <small
                                    *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
                                    class="text-danger"> *Password is required</small>

                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                        placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" formControlName="gender" value="male"
                                                checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" formControlName="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                    <small
                                        *ngIf="registerForm.get('gender').invalid && registerForm.get('gender').touched"
                                        class="text-danger"> *Gender is required</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email"
                                        placeholder="Your Email *" value="" />
                                </div>
                                <small *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
                                    class="text-danger"> *Email is required</small>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone"
                                        class="form-control" formControlName="phone" placeholder="Your Phone *"
                                        value="" />
                                </div>
                                <small *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched"
                                    class="text-danger"> *Phone is required</small>
                                <div class="form-group">
                                    <select class="form-control" formControlName="securityQues">
                                        <option class="hidden" selected disabled>Please select your Sequrity Question
                                        </option>
                                        <option>What is your Birthdate?</option>
                                        <option>What is Your old Phone Number</option>
                                        <option>What is your Pet Name?</option>
                                    </select>
                                </div>
                                <small
                                    *ngIf="registerForm.get('securityQues').invalid && registerForm.get('securityQues').touched"
                                    class="text-danger"> *SecurityQues is required</small>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="securityAns"
                                        placeholder="Enter Your Answer *" value="" />
                                </div>
                                <small
                                    *ngIf="registerForm.get('securityAns').invalid && registerForm.get('securityAns').touched"
                                    class="text-danger"> *SecurityAns is required</small>
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<!-----------------HR--USER--LOGIN--SECTION---------------->



<div [hidden]="showLogin" class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>Do not Have an Account!</p>
            <input type="submit" name="" value="Register" (click)="showData()" /><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading"><u>Login as a Employee</u></h3>
                    <form [formGroup]="addloginForm" (ngSubmit)="userLogin()">
                        <div class="row register-form">

                            <div class="col-md-12">
                                <div class="form-group flexDiv">
                                    <input type="email" class="form-control inputWidth
                                    " formControlName="email" placeholder="Your Email *" value="" />
                                </div>
                                <div class="errorMessage">
                                    <small
                                        *ngIf="addloginForm.get('email').invalid && addloginForm.get('email').touched"
                                        class="text-danger"> *Email is required</small>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group flexDiv">
                                        <input type="password" class="form-control inputWidth
                                    " formControlName="password" placeholder="Password *" value="" />
                                    </div>
                                    <div class="errorMessage">
                                        <small
                                            *ngIf="addloginForm.get('password').invalid && addloginForm.get('password').touched"
                                            class="text-danger"> *Password is required</small>
                                    </div>
                                </div>
                                <div class="forgotPassword">
                                    <p (click)="showForgotPassword()" style="color:blueviolet">Forgot password?</p>
                                </div>
                                <input type="submit" class="btnWidth" value="Login" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!--------- //////////////////////////////////////////////////////////////////////////////////////////////////////////// ----------->

<!-- ----------- Processs-OF-RESET-PASSWORD------------- -->


<div class="container register" [hidden]="showForgot">
    <div class="row">
        <div class="col-md-3 register-left" style="margin-top:150px;">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading"><u>Forgot Password</u></h3>
                    <form [formGroup]="resetForm">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div [hidden]="showEmail">
                                    <div class="form-group flexDiv">
                                        <input type="email" class="form-control inputWidth
                                " formControlName="verifiedEmail" placeholder=" Enter Your Verified Email *"
                                            value="" />
                                    </div>
                                    <div class="errorMessage">
                                        <small
                                            *ngIf="resetForm.get('verifiedEmail').invalid && resetForm.get('verifiedEmail').touched"
                                            class="text-danger"> *Email is required</small>
                                    </div>
                                    <input type="submit" class="sendOtpWidth" value="Send OTP" (click)="sendOtp()" />
                                </div>
                                <div class="col-md-9" [hidden]="veryfyOtp">
                                    <div class="form-group verifyOtpInput">
                                        <input type="password" maxlength="4" class="form-control 
                                    " formControlName="otp" placeholder="Enter Your OTP*" value="">
                                    </div>
                                    <div>
                                        <input type="submit" class="otpWidth" value="VerifyOTP"
                                            (click)="showVeryfyOtp()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--------- //////////////////////////////////////////////////////////////////////////////////////////////////////////// ----------->

<!-- ---------------PROCESS--OF SET--PASSWORD--------------------->

<div [hidden]="changePass" class="container register">
    <div class="row">
        <div class="col-md-3 register-left" style="margin-top:150px ;">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading"><u>Change Password</u></h3>
                    <form [formGroup]="changePassForm">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group flexDiv">
                                    <input type="text" class="form-control inputWidth
                                " formControlName="password" placeholder="Enter New Password*" value="" />
                                </div>
                                <div class="errorMessage">
                                    <small
                                        *ngIf="changePassForm.get('password').invalid && changePassForm.get('password').touched"
                                        class="text-danger"> *Password is required</small>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group flexDiv">
                                        <input type="password" class="form-control inputWidth
                                    " formControlName="confirmPassword" placeholder="Confirm Password *" value="" />
                                    </div>
                                    <div class="errorMessage">
                                        <small
                                            *ngIf="changePassForm.get('confirmPassword').invalid && changePassForm.get('confirmPassword').touched"
                                            class="text-danger"> *Confirm Password is required</small>
                                        <ng-container
                                            *ngIf="changePassForm.get('confirmPassword').value!= changePassForm.get('password').value">
                                            <p class="text-danger"> *Password and Confirm password not match.</p>
                                        </ng-container>
                                    </div>
                                </div>
                                <div>
                                    <input type="submit" class="changePassWidth" value="Change Password"
                                        (click)="openSnackBar()" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>