<div class="fixed-top headerCom">
</div>

<!-- Page Content -->
<div class="content container-fluid" style="margin-top:70px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Profile Settings</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> First Name<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="Dreamguy's Technologies"
                                formControlName="firstName">
                            <ng-container
                                *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched">

                                <p *ngIf="registerForm.get('firstName').errors.required" style="color: red">
                                    First Name is required.
                                </p>
                                <p *ngIf="registerForm.get('firstName').errors.pattern" style=" color: red;">
                                    First Name must be a valid name.
                                </p>


                            </ng-container>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Last Name<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="Dreamguy's Technologies"
                                formControlName="lastName">
                            <ng-container
                                *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">

                                <p *ngIf="registerForm.get('lastName').errors.required" style="color: red">
                                    Last Name is required.
                                </p>
                                <p *ngIf="registerForm.get('lastName').errors.pattern" style=" color: red;">
                                    Last Name must be a valid name.
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label>Address<span class="text-danger">*</span></label>
                            <textarea rows="4" class="form-control" formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Phone <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="phone">
                            <ng-container
                                *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">

                                <small *ngIf="registerForm.get('phone').errors.required" style="color: red">
                                    Phone is required.
                                </small>
                                <small *ngIf="registerForm.get('phone').errors.pattern " style=" color: red;">
                                    *Please enter a valid mobile number.
                                </small>
                            </ng-container>

                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Gender <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                                [class.invalid]="registerForm.get('gender').invalid && registerForm.get('gender').touched"
                                formControlName="gender">
                            <div *ngIf="registerForm.get('gender').invalid && registerForm.get('gender').touched">
                                <small *ngIf="registerForm.get('gender').invalid && registerForm.get('gender').touched"
                                    class="text-danger"> *Gender is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zip Code <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="zipCode">
                        </div>
                    </div>
                </div>

                <div class="submit-section">
                    <button class="btn btn-primary submit-btn" (click)="updateData()">Update</button>
                </div>
            </form>

            <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row" style="margin-top: 50px;">
                <div class="col-sm-12">
                    <h3 class="page-title">Reset Password</h3>
                </div>
            </div>
            <form [formGroup]="changePassForm" (ngSubmit)="updatePassword()">
                <div class="row" style="margin-top:30px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Old Password<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="password">
                            <div
                                *ngIf="changePassForm.get('password').invalid && changePassForm.get('password').touched">
                                <small
                                    *ngIf="changePassForm.get('password').invalid && changePassForm.get('password').touched"
                                    class="text-danger"> *old Password is required</small>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> New Password<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="newPassword">
                            <div
                                *ngIf="changePassForm.get('newPassword').invalid && changePassForm.get('newPassword').touched">
                                <small
                                    *ngIf="changePassForm.get('newPassword').invalid && changePassForm.get('newPassword').touched"
                                    class="text-danger"> *newPassword is required</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Confirm Password<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="confirmPassword">
                            <small class="text-danger"
                                *ngIf="changePassForm.get('newPassword').value != changePassForm.get('confirmPassword').value">
                                *New Password and Confirm Password not match</small>
                        </div>
                    </div>
                </div>

                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Update Password</button>
                </div>
            </form>

        </div>

    </div>


</div>

<!-- /Page Content -->