<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">My Wallet</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/affiliates/affiliatedashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">My Wallet</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ currentBalance }} USD</h3>
            <span>Current balance</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ totalBalance }} USD</h3>
            <span>Total balance</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ totalWithdraw }} USD</h3>
            <span>Total withdrawal</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ pendingWithdraw }} USD</h3>
            <span>Pending withdrawal</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Withdrawal request</h3>
              <label>Actual Amount</label>

              <input
                (keyup)="requestAmount($event.target.value)"
                type="text"
                placeholder="Enter Request Amount"
              />
              <label>Withdrawal Amount</label>
              <input
              disabled
                value={{withdrawalAmount}}
                type="text"
                
              />
              <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" (click)="paymentRequest()"
                  >Make Payment Request</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">You Can Request a Payout 24X7 !</h3>
              <div>
                <p>
                  Note : Min. Withdraw amount is 500 5.00% TDS + 5.00% admin fee
                  deducted from Withdraw amount! (*Total 10% amount will be
                  deducted from withdraw amount.)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
