<div class="container" style="margin-top:100px ;">
  <div class="joinus">
    <div class="col-md-12">
      <h2 style="margin-bottom:0px; text-align: center;"><strong>PUBLISHER</strong></h2>
      <p class="text-center" style="margin-top:10px;font-size:18px;">Driving the users to an advertising page that shows
        various
        products and services is quite a challenging job and we are here to convert those challenges into opportunities.
        We provide the platform to you where you can familiarize the end user with the products/services of the
        advertiser. At the same time, promote the ads, keep the traffic flowing and gain the commissions you deserve.
      </p>
    </div>

    <div class="col-md-12 text-center">
      <h2 style="margin-bottom:0px; text-align: center;"><strong>Following are the reasons to join us</strong></h2>

      <div class="advertisers">
        <div class="advertiserItems">
          <img src="	https://www.adcanopus.com/img/publishers/tps.svg" alt="" class="img-responsive">
          <p> Timely Payment <br>
            Schedule </p>
        </div>

        <div class="advertiserItems">
          <img src="https://www.adcanopus.com/img/publishers/mpo.svg" alt="" class="img-responsive">
          <p> Multiple Payment <br>
            Options </p>
        </div>

        <div class="advertiserItems">
          <img src="https://www.adcanopus.com/img/publishers/assured.svg" alt="" class="img-responsive">
          <p>
            Quality Assured Display <br>
            Ad Campaigns </p>
        </div>

        <div class="advertiserItems">
          <img src="	https://www.adcanopus.com/img/publishers/latestTech.svg" alt="" class="img-responsive">
          <p> Use of Latest <br>
            Technology </p>
        </div>

        <div class="advertiserItems">
          <img src="https://www.adcanopus.com/img/publishers/freeConslt.svg" alt="" class="img-responsive">
          <p> 24x7 Free <br>
            Consultations </p>
        </div>

      </div>

      <!-- <button class="btn joinButton">
      Join Us As Advertiser
       </button> -->

      <button class="btn bg-primary  joinButton" (click)="navigateUrl()"> JOIN US AS PUBLISHER</button>



    </div>


  </div>
</div>