<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Welcome Affiliate</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-12">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-link"></i></span>
        <h3>My Refferal Link</h3>
        <div class="dash-widget-info">
          <h3>{{ affiliateUrl }}</h3>
          <span> Copy Link</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-12">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-share"></i></span>
        <h3>Share On</h3>
        <div class="dash-widget-info">
          <!-- <h3>{{affiliateUrl}}</h3> -->
          <span> Share Now</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
          <div class="dash-widget-info">
            <h3>{{ freeTodayLeads }}</h3>
            <span>Today Leads</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
          <div class="dash-widget-info">
            <h3>{{ todayconversions }}</h3>
            <span>Today Conversions</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
          <div class="dash-widget-info">
            <h3>{{ allLeadsCount }}</h3>
            <span>Total Leads</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
          <div class="dash-widget-info">
            <h3>{{ totalConversionCount }}</h3>
            <span>Total Conversions</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ totalIncome }}</h3>
            <span>Total Income</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
        <div class="card-body">
          <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
          <div class="dash-widget-info">
            <h3>{{ totalWithdraw }}</h3>
            <span>Total Withdrawal</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
