<!-- Page Content -->
<div class="content">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Activities</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/dashboard/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Activities</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      
      <div class="activity" >
        <div class="activity-box">
          <ul class="activity-list" *ngFor="let items of dataArray">
            <ng-container *ngIf="items.message=='added a new employee '">
            <li routerLink="/layout/employees/employeelist">
              <div class="activity-user" >
                <a
                  routerLink="/layout/employees/employeeprofile"
                  title="Lesley Grauer"
                  data-bs-toggle="tooltip"
                  class="avatar"
                >
                  <img src="assets/img/profiles/avatar-1.jpg" alt="" />
                </a>
              </div>

              <div class="activity-content">
                <div class="timeline-content">
                  <a
                    routerLink="/layout/employees/employeeprofile"
                    class="name"
                    >{{ items.author }}</a
                  >
                  {{ items.message }} {{ items.functions }}
                  <span class="time"> {{ items.time | dateAgo }}</span>
                </div>
              </div>
            </li>
            </ng-container>
            <ng-container *ngIf="items.message=='applied for '">
              <li routerLink="/layout/employees/adminleaves">
                <div class="activity-user" >
                  <a
                    routerLink="/layout/employees/employeeprofile"
                    title="Lesley Grauer"
                    data-bs-toggle="tooltip"
                    class="avatar"
                  >
                    <img src="assets/img/profiles/avatar-1.jpg" alt="" />
                  </a>
                </div>
  
                <div class="activity-content">
                  <div class="timeline-content">
                    <a
                      routerLink="/layout/employees/employeeprofile"
                      class="name"
                      >{{ items.author }}</a
                    >
                    {{ items.message }} {{ items.functions }}
                    <span class="time"> {{ items.time | dateAgo }}</span>
                  </div>
                </div>
              </li>
              </ng-container>
              <ng-container *ngIf="items.message=='added holiday of '">
                <li routerLink="/layout/employees/holidays">
                  <div class="activity-user" >
                    <a
                      routerLink="/layout/employees/employeeprofile"
                      title="Lesley Grauer"
                      data-bs-toggle="tooltip"
                      class="avatar"
                    >
                      <img src="assets/img/profiles/avatar-1.jpg" alt="" />
                    </a>
                  </div>
    
                  <div class="activity-content">
                    <div class="timeline-content">
                      <a
                        routerLink="/layout/employees/employeeprofile"
                        class="name"
                        >{{ items.author }}</a
                      >
                      {{ items.message }} {{ items.functions }}
                      <span class="time"> {{ items.time | dateAgo }}</span>
                    </div>
                  </div>
                </li>
                </ng-container>

                <ng-container *ngIf="items.message=='added a job for '">
                  <li routerLink="/layout/jobs/manage-jobs">
                    <div class="activity-user" >
                      <a
                        routerLink="/layout/employees/employeeprofile"
                        title="Lesley Grauer"
                        data-bs-toggle="tooltip"
                        class="avatar"
                      >
                        <img src="assets/img/profiles/avatar-1.jpg" alt="" />
                      </a>
                    </div>
      
                    <div class="activity-content">
                      <div class="timeline-content">
                        <a
                          routerLink="/layout/employees/employeeprofile"
                          class="name"
                          >{{ items.author }}</a
                        >
                        {{ items.message }} {{ items.functions }}
                        <span class="time"> {{ items.time | dateAgo }}</span>
                      </div>
                    </div>
                  </li>
                  </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
