<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Wallet History</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/affiliates/affiliatedashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Wallet history</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          id="datatable"
          class="table table-striped custom-table datatable"
        >
          <thead>
            <tr>
              <th>Sr.no</th>
              <th>Affiliate Id</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Create Date</th>
              <th>Update Date</th>
              <th>Status</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of data; let i = index">
              <td>{{i+1}}</td>
              <td>{{client.aId}}</td>
              <td>
                <ng-container *ngIf="client.renewStatus === '0'">
                  {{ client.amount * (30 / 100) }}<span class="text-success"> (New-30%)</span>
                </ng-container>
                <ng-container *ngIf="client.renewStatus === '1'">
                  {{ client.amount * (10 / 100) }}<span class="text-warning"> (Renew-10%)</span>
                </ng-container>
                <ng-container *ngIf="client.renewStatus === ''">
                  {{ client.amount}}<span class="text-danger"> (Withdraw)</span>
                </ng-container>
              </td>
              <td>{{ client.package_name }}</td>
              <td>{{ client.createDate }}</td>
              <td>{{ client.updateDate }}</td>
              <ng-container *ngIf="client.status==1">
              <td class="text-danger">Debited</td>
            </ng-container>
              
              <ng-container *ngIf="client.status==2">
              <td class="text-success">Credited</td>
            </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->