<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Clients</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Clients</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto" >
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_client" (click)="resetForm()" *ngIf="
                user_type == 'admin' ||
                (user_type === 'employee' &&
                  (clientswrite == 'true'))
              "><i
                        class="fa fa-plus" ></i>
                    Add Client</a>
                <div class="view-icons">
                    <a routerLink="/layout/clients/clientspage" class="grid-view btn btn-link"><i
                            class="fa fa-th"></i></a>
                    <a routerLink="/layout/clients/clientslist" class="list-view btn btn-link active"><i
                            class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" #id (input)="searchID($event.target.value)">
                <label class="focus-label">Client ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" #clientn (input)="searchByName($event.target.value)">
                <label class="focus-label">Client Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="form-select floating form-control" #companyn
                    (input)="searchByCompany($event.target.value)">
                    <option value="">Select Company</option>
                    <option *ngFor="let designation of companys">{{designation.companyName}}</option>
                </select>
                <label class="focus-label">Company</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success w-100" (click)="onSearch(id.value,clientn.value,companyn.value)"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Client ID</th>
                            <th>Contact Person</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th class="text-end" *ngIf="
                            user_type == 'admin' ||
                            (user_type === 'employee' &&
                              (clientswrite == 'true'))
                          ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of data; let i = index">
                            <td>
                                <h2 class="table-avatar">
                                    <a routerLink="/layout/clients/clientsprofile/{{client.id}}" class="avatar"><img
                                            src="assets/img/profiles/avatar-{{ i + 1 }}.jpg" alt=""></a>
                                    <a
                                        routerLink="/layout/clients/clientsprofile/{{client.id}}">{{client.companyName}}</a>
                                </h2>
                            </td>
                            <td>{{client.clientId}}</td>
                            <td>{{client.firstName}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.phone}}</td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <ng-container *ngIf="client.status=='Active'">
                                            <i class="fa fa-dot-circle-o text-success">{{client.status}}</i>
                                        </ng-container>
                                        <ng-container *ngIf="client.status=='Inactive'">
                                            <i class="fa fa-dot-circle-o text-danger">{{client.status}}</i>
                                        </ng-container>
                                    </a>
                                    <div class="dropdown-menu" *ngIf="
                                    user_type == 'admin' ||
                                    (user_type === 'employee' &&
                                      (clientswrite == 'true'))
                                  ">
                                        <a class="dropdown-item" (click)="getStatus('Active',client.id)"><i
                                                class="fa fa-dot-circle-o text-success"></i> Active</a>
                                        <a class="dropdown-item" (click)="getStatus('Inactive',client.id)"><i
                                                class="fa fa-dot-circle-o text-danger"></i>
                                            Inactive</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action" *ngIf="
                                user_type == 'admin' ||
                                (user_type === 'employee' &&
                                  (clientswrite == 'true'))
                              ">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"
                                            (click)="onEditClient(client.id)"><i class="fa fa-pencil m-r-5"></i>
                                            Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"
                                            (click)="tempId = client.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Client Modal -->
<div id="add_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Client</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addClientForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="clientName" maxlength="20">
                                <ng-container
                                    *ngIf="addClientForm.get('clientName').invalid && addClientForm.get('clientName').touched">

                                    <p *ngIf="addClientForm.get('clientName').errors.required" style="color: red">
                                        First Name is required.
                                    </p>
                                    <p *ngIf="addClientForm.get('clientName').errors.pattern" style=" color: red;">
                                        First Name must be a valid name.
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" type="text" formControlName="clientLastName" maxlength="20">
                                <ng-container
                                    *ngIf="addClientForm.get('clientLastName').invalid && addClientForm.get('clientLastName').touched">

                                    <p *ngIf="addClientForm.get('clientLastName').errors.required" style="color: red">
                                        Last Name is required.
                                    </p>
                                    <p *ngIf="addClientForm.get('clientLastName').errors.pattern" style=" color: red;">
                                        Last Name must be a valid name.
                                    </p>
                                </ng-container>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                <input class="form-control" type="text" formControlName="clientUsername" maxlength="20">
                                <ng-container
                                    *ngIf="addClientForm.get('clientUsername').invalid && addClientForm.get('clientUsername').touched">

                                    <p *ngIf="addClientForm.get('clientUsername').errors.required" style="color: red">
                                        User Name is required.
                                    </p>
                                    <p *ngIf="addClientForm.get('clientUsername').errors.pattern" style=" color: red;">
                                        User Name must be a valid name.
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="clientEmail">
                                <ng-container
                                    *ngIf="addClientForm.get('clientEmail').invalid && addClientForm.get('clientEmail').touched">
                                    <p *ngIf="addClientForm.get('clientEmail').errors.required" class="text-danger">
                                        Email is Required
                                    </p>
                                    <p *ngIf="addClientForm.get('clientEmail').errors.email || addClientForm.get('clientEmail').whitespace"
                                        class="text-danger"> *Invalid Email Address</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input class="form-control" type="password" formControlName="clientPassword">
                                <ng-container
                                    *ngIf="addClientForm.get('clientPassword').invalid && addClientForm.get('clientPassword').touched">

                                    <p style="color: red">
                                        Password is required.
                                    </p>

                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input class="form-control" type="password" formControlName="clientConfirmPassword">
                                <ng-container
                                    *ngIf="addClientForm.get('clientConfirmPassword').value != addClientForm.get('clientPassword').value ">

                                    <p style="color: red">
                                        Password And Confirm Password do not match.
                                    </p>

                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Client ID <span class="text-danger">*</span></label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addClientForm.get('clientId').invalid && addClientForm.get('clientId').touched"
                                    formControlName="clientId">
                                <div
                                    *ngIf="addClientForm.get('clientId').invalid && addClientForm.get('clientId').touched">
                                    <small
                                        *ngIf="addClientForm.get('clientId').invalid && addClientForm.get('clientId').touched"
                                        class="text-danger"> *Id is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="clientPhone" maxlength="10"
                                    minlength="10">
                                <ng-container
                                    *ngIf="addClientForm.get('clientPhone').invalid && addClientForm.get('clientPhone').touched">

                                    <p *ngIf="addClientForm.get('clientPhone').errors.required" style="color: red">
                                        Phone is required.
                                    </p>
                                    <p *ngIf="addClientForm.get('clientPhone').errors.pattern" style=" color: red;">
                                        Phone must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Name</label>
                                <input class="form-control" type="text" formControlName="clientCompany">
                                <ng-container
                                    *ngIf="addClientForm.get('clientCompany').invalid && addClientForm.get('clientCompany').touched">

                                    <p *ngIf="addClientForm.get('clientCompany').errors.required" style="color: red">
                                        Company Name is required.
                                    </p>
                                    <p *ngIf="addClientForm.get('clientCompany').errors.pattern" style=" color: red;">
                                        Company Name must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Module Permission</th>
                                    <th class="text-center">Read</th>
                                    <th class="text-center">Write</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Delete</th>
                                    <th class="text-center">Import</th>
                                    <th class="text-center">Export</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Invoices</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueInvoices($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Projects</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueProjects($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasks</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTasks($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chats</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueChats($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Estimates</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueEstimates($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>TimingSheets</td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (click)="checkCheckBoxvalueTimingSheets($event, 5)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="onAddClient()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Client Modal -->

<!-- Edit Client Modal -->
<div id="edit_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Client</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editClientForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="editClientName">
                                <ng-container
                                    *ngIf="editClientForm.get('editClientName').invalid && editClientForm.get('editClientName').touched">

                                    <p *ngIf="editClientForm.get('editClientName').errors.required" style="color: red">
                                        First Name is required.
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientName').errors.pattern" style=" color: red;">
                                        First Name must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" formControlName="editClientLastName" type="text">
                                <ng-container
                                    *ngIf="editClientForm.get('editClientLastName').invalid && editClientForm.get('editClientLastName').touched">

                                    <p *ngIf="editClientForm.get('editClientLastName').errors.required"
                                        style="color: red">
                                        Last Name is required.
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientLastName').errors.pattern"
                                        style=" color: red;">
                                        Last Name must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                <input class="form-control" formControlName="editClientUsername" type="text"
                                    maxlength="20">
                                <ng-container
                                    *ngIf="editClientForm.get('editClientUsername').invalid && editClientForm.get('editClientUsername').touched">

                                    <p *ngIf="editClientForm.get('editClientUsername').errors.required"
                                        style="color: red">
                                        Usernameis required.
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientUsername').errors.pattern"
                                        style=" color: red;">
                                        Usernameis must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="editClientEmail">

                                <ng-container
                                    *ngIf="editClientForm.get('editClientEmail').invalid && editClientForm.get('editClientEmail').touched">
                                    <p *ngIf="editClientForm.get('editClientEmail').errors.required"
                                        class="text-danger">
                                        Email is Required
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientEmail').errors.email || editClientForm.get('editClientEmail').whitespace"
                                        class="text-danger"> *Invalid Email Address</p>
                                </ng-container>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input class="form-control" formControlName="password" type="password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input class="form-control" vformControlName="password" type="password">
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Client ID <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="editClientId">
                                <div
                                    *ngIf="editClientForm.get('editClientId').invalid && editClientForm.get('editClientId').touched">
                                    <p class="text-danger"> *ClientId is required</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone <span class="text-danger">*</span> </label>
                                <input class="form-control" type="text" formControlName="editClientPhone" maxlength="10"
                                    minlength="10">
                                <ng-container
                                    *ngIf="editClientForm.get('editClientPhone').invalid && editClientForm.get('editClientPhone').touched">

                                    <p *ngIf="editClientForm.get('editClientPhone').errors.required" style="color: red">
                                        phone is required.
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientPhone').errors.pattern"
                                        style=" color: red;">
                                        phone must be a valid .
                                    </p>
                                </ng-container>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="editClientCompany">
                                <ng-container
                                    *ngIf="editClientForm.get('editClientCompany').invalid && editClientForm.get('editClientCompany').touched">

                                    <p *ngIf="editClientForm.get('editClientCompany').errors.required"
                                        style="color: red">
                                        Company Name is required.
                                    </p>
                                    <p *ngIf="editClientForm.get('editClientCompany').errors.pattern"
                                        style=" color: red;">
                                        Company Name must be a valid .
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Module Permission</th>
                                    <th class="text-center">Read</th>
                                    <th class="text-center">Write</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Delete</th>
                                    <th class="text-center">Import</th>
                                    <th class="text-center">Export</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Invoices</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[0].read"
                                            (click)="checkCheckBoxvalueInvoices($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[1].write"
                                            (click)="checkCheckBoxvalueInvoices($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[2].create"
                                            (click)="checkCheckBoxvalueInvoices($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[3].delete"
                                            (click)="checkCheckBoxvalueInvoices($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[4].import"
                                            (click)="checkCheckBoxvalueInvoices($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="invoices[5].export"
                                            (click)="checkCheckBoxvalueInvoices($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Projects</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[0].read"
                                            (click)="checkCheckBoxvalueProjects($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[1].write"
                                            (click)="checkCheckBoxvalueProjects($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[2].create"
                                            (click)="checkCheckBoxvalueProjects($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[3].delete"
                                            (click)="checkCheckBoxvalueProjects($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[4].import"
                                            (click)="checkCheckBoxvalueProjects($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="projects[5].export"
                                            (click)="checkCheckBoxvalueProjects($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasks</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[0].read"
                                            (click)="checkCheckBoxvalueTasks($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[1].write"
                                            (click)="checkCheckBoxvalueTasks($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[2].create"
                                            (click)="checkCheckBoxvalueTasks($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[3].delete"
                                            (click)="checkCheckBoxvalueTasks($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[4].import"
                                            (click)="checkCheckBoxvalueTasks($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="tasks[5].export"
                                            (click)="checkCheckBoxvalueTasks($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chats</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[0].read"
                                            (click)="checkCheckBoxvalueChats($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[1].write"
                                            (click)="checkCheckBoxvalueChats($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[2].create"
                                            (click)="checkCheckBoxvalueChats($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[3].delete"
                                            (click)="checkCheckBoxvalueChats($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[4].import"
                                            (click)="checkCheckBoxvalueChats($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="chats[5].export"
                                            (click)="checkCheckBoxvalueChats($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Estimates</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[0].read"
                                            (click)="checkCheckBoxvalueEstimates($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[1].write"
                                            (click)="checkCheckBoxvalueEstimates($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[2].create"
                                            (click)="checkCheckBoxvalueEstimates($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[3].delete"
                                            (click)="checkCheckBoxvalueEstimates($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[4].import"
                                            (click)="checkCheckBoxvalueEstimates($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="estimates[5].export"
                                            (click)="checkCheckBoxvalueEstimates($event, 5)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>TimingSheets</td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[0].read"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 0)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[1].write"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 1)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[2].create"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 2)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[3].delete"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 3)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[4].import"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 4)">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [checked]="timingSheets[5].export"
                                            (click)="checkCheckBoxvalueTimingSheets($event, 5)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="onSave()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Client Modal -->

<!-- Delete Client Modal -->
<div class="modal custom-modal fade" id="delete_client" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Client</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="onDelete()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Client Modal -->