<!-- Page Wrapper -->


<h1 class='text-center' *ngIf="user_type==='client'"><u> :-Welcome To Clients Portal -:</u></h1>

<div class="dummy-card">

  <div class="clock">
    <p class="srmak">SRMAK</p>
    <div class="num num-1">
      <div>1</div>
    </div>
    <div class="num num-2">
      <div>2</div>
    </div>
    <div class="num num-3">
      <div>3</div>
    </div>
    <div class="num num-4">
      <div>4</div>
    </div>
    <div class="num num-5">
      <div>5</div>
    </div>
    <div class="num num-6">
      <div>6</div>
    </div>
    <div class="num num-7">
      <div>7</div>
    </div>
    <div class="num num-8">
      <div>8</div>
    </div>
    <div class="num num-9">
      <div>9</div>
    </div>
    <div class="num num-10">
      <div>10</div>
    </div>
    <div class="num num-11">
      <div>11</div>
    </div>
    <div class="num num-12">
      <div>12</div>
    </div>
    <div class="hr-hand" #hrHand></div>
    <div class="min-hand" #minHand></div>
    <div class="sec-hand" #secHand></div>

  </div>
</div>
















<!-- /Page Wrapper -->