<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Candidates List</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/layout/dashboard/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item">Jobs</li>
            <li class="breadcrumb-item active">Candidates List</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto">
          <a
          *ngIf="user_type === 'admin' || (user_type === 'rolereceptionist' && candidateslistwriteRecep === 'true') ||(user_type === 'rolehr' && jobswriteHr === 'true')"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#add_employee"
            class="btn add-btn"
          >
            Add Candidates</a
          >
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input
            type="text"
            class="form-control floating"
            (input)="searchByCandidate($event.target.value)"
          />
          <label class="focus-label">Candidate Name</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input
            type="text"
            class="form-control floating"
            (input)="searchByMobile($event.target.value)"
          />
          <label class="focus-label">Mobile No.</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
          <select
            class="form-select floating form-control"
            (input)="searchStatus($event.target.value)"
          >
            <option selected>Select Status</option>
            <option value="New">New</option>
            <option value="First Round">First Round</option>
            <option value="Second Round">Second Round</option>
            <option value="Final Round">Final Round</option>
            <option value="Qualified">Qualified</option>
            <option value="Disqualified">Disqualified</option>
            <option value="Rejected">Rejected</option>
          </select>
          <label class="focus-label">Select Status</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <a class="btn btn-success w-100"> Search </a>
      </div>
    </div>
    <!-- Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-striped custom-table datatable mb-0"
          >
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>

                <th>Mobile Number</th>
                <th>Address</th>
                <th>Status</th>
                <th>Gender</th>
                <th>Create Date</th>
                <th class="text-center" *ngIf="user_type === 'admin' || (user_type === 'rolereceptionist' && candidateslistwriteRecep === 'true') ||(user_type === 'rolehr' && jobswriteHr === 'true')">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lstCandidate; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <h2 class="table-avatar">
                    <a routerLink="/layout/profile/profilelist" class="avatar"
                      ><img alt="" src="assets/img/profiles/avatar-2.jpg"
                    /></a>
                    <a routerLink="/layout/profile/profilelist"
                      >{{ item.firstName }} {{ item.lastName }}
                    </a>
                  </h2>
                </td>
                <td>{{ item.email }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.address }}</td>

                <td class="text-center">
                  <div class="dropdown action-label">
                    <a
                      class="btn btn-white btn-sm btn-rounded"
                      aria-expanded="false"
                    >
                      <i
                        class="fa fa-dot-circle-o text-info"
                        *ngIf="item.status == 'New'"
                        >{{ item.status }}</i
                      >

                      <i
                        class="fa fa-dot-circle-o text-sm"
                        *ngIf="item.status == 'First Round'"
                        >{{ item.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-muted"
                        *ngIf="item.status == 'Second Round'"
                        >{{ item.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-warning"
                        *ngIf="item.status == 'Final Round'"
                        >{{ item.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-success"
                        *ngIf="item.status == 'Qualified'"
                        >{{ item.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-danger"
                        *ngIf="item.status == 'Disqualified'"
                        >{{ item.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-danger"
                        *ngIf="item.status == 'Rejected'"
                        >{{ item.status }}</i
                      >
                    </a>
                  </div>
                </td>

                <td>{{ item.gender }}</td>
                <td>{{ item.createDate }}</td>
                <td class="text-center" *ngIf="user_type === 'admin' || (user_type === 'rolereceptionist' && candidateslistwriteRecep === 'true') ||(user_type === 'rolehr' && jobswriteHr === 'true')">
                  <div class="dropdown dropdown-action">
                    <a
                      href="#"
                      class="action-icon dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      ><i class="material-icons">more_vert</i></a
                    >
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_job"
                        (click)="edit(item)"
                        ><i class="fa fa-pencil m-r-5"></i> Edit</a
                      >
                      <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_job"
                        (click)="tempId = item.id"
                        ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->

  <div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Candidates</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addCandidateForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >First Name <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="lastName"
                  />
                </div>
              </div>
              <!-- //////////////////////////////// -->

              <div class="col-sm-6">
                <div class="form-group">
                  <select
                    class="form-select form-control"
                    formControlName="jobTitle"
                  >
                    <option selected>Select Job Title</option>
                    <option *ngFor="let item of allJobs">
                      {{ item.jobTitle }}
                    </option>
                  </select>
                </div>
              </div>

              <!-- /////////////////////////////// -->

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Gender</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="gender"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Address</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="address"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Email <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Created Date <span class="text-danger">*</span></label
                  >
                  <div class="cal-icon">
                    <input
                      class="form-control datetimepicker"
                      type="text"
                      bsDatepicker
                      formControlName="createDate"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Mobile </label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="mobile"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Upload Resume <span class="text-danger">*</span></label
                  >
                  <input
                    type="file"
                    class="form-control"
                    formControlName="file"
                    (change)="selectImage($event)"
                  />
                </div>
              </div>
            </div>

            <div class="submit-section">
              <button
                class="btn btn-primary submit-btn"
                (click)="addCandidate()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Job Modal -->
  <div id="edit_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Candidates</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="editCandidate()" [formGroup]="editCandidateForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >First Name <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="lastName"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <select
                    class="form-select form-control"
                    formControlName="jobTitle"
                  >
                    <option>Select Job Title</option>
                    <option *ngFor="let item of allJobs">
                      {{ item.jobTitle }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Gender </label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="gender"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Address</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="address"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Email <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Created Date <span class="text-danger">*</span></label
                  >
                  <div class="cal-icon">
                    <input
                      class="form-control datetimepicker"
                      type="text"
                      bsDatepicker
                      type="text"
                      [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        returnFocusToInput: true
                      }"
                      formControlName="createDate"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Phone </label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="mobile"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >Upload Resume <span class="text-danger">*</span></label
                  >
                  <input
                    type="file"
                    class="form-control"
                    formControlName="resume"
                    (change)="selectImage($event)"
                  />
                </div>
              </div>
            </div>
            <div class="submit-section">
              <button class="btn btn-primary submit-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Edit Job Modal -->

  <!-- Delete Job Modal -->
  <div class="modal custom-modal fade" id="delete_job" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a
                  href="javascript:void(0);"
                  class="btn btn-primary continue-btn"
                  (click)="deleteCandidate()"
                  >Delete</a
                >
              </div>
              <div class="col-6">
                <a
                  href="javascript:void(0);"
                  data-bs-dismiss="modal"
                  class="btn btn-primary cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Job Modal -->
</div>
