<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3 style="margin-top: 180px;"><u>Welcome To Affiliate Register</u></h3>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading"><u>Affiliate Register</u></h3>


          <form [formGroup]="registerForm" (ngSubmit)="userLogin()">
            <div class="row register-form">
              <div class="col-md-6">
                <h4><u> :- Company Details -:</u></h4>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="company" placeholder="Company Name *"
                    value="" />
                </div>
                <ng-container *ngIf="registerForm.get('company').invalid && registerForm.get('company').touched">

                  <p *ngIf="registerForm.get('company').errors.required" style="color: red">
                    Company Name is required.
                  </p>
                  <p *ngIf="registerForm.get('company').errors.pattern" style=" color: red;">
                    Company Name must be a valid name.
                  </p>
                </ng-container>

                <div class="form-group">
                  <input type="text" class="form-control" maxlength="50" formControlName="address"
                    placeholder="Address *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('address').invalid && registerForm.get('address').touched">

                  <p *ngIf="registerForm.get('address').errors.required" style="color: red">
                    Address is required.
                  </p>
                  <p *ngIf="registerForm.get('address').errors.minlength || registerForm.get('address').errors.whitespace"
                    style=" color: red;">
                    Address must be a valid .
                  </p>
                </ng-container>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="country" placeholder="Country *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('country').invalid && registerForm.get('country').touched">
                  <p class="text-danger">*Country is required</p>
                </ng-container>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="state" placeholder="State *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('state').invalid && registerForm.get('state').touched">
                  <small class="text-danger" *ngIf="registerForm.get('state').errors.required">
                    * State is required</small>
                </ng-container>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="city" placeholder="City *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('city').invalid && registerForm.get('city').touched">
                  <small class="text-danger" *ngIf="registerForm.get('city').errors.required">
                    * City is required</small>
                </ng-container>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="Website" placeholder="Website*" value="" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" minlength="10" maxlength="10" formControlName="phone"
                    placeholder=" Phone *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">
                  <p class="text-danger" *ngIf="registerForm.get('phone').errors.required">
                    *Phone is required</p>
                  <p class="text-danger" *ngIf="registerForm.get('phone').errors.pattern">
                    *Phone No must be a Valid</p>
                </ng-container>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="zip" placeholder="Zip Code*" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('zip').invalid && registerForm.get('zip').touched">
                  <p class="text-danger" *ngIf="registerForm.get('zip').errors.required">
                    *Zip Code is required</p>
                </ng-container>
              </div>


              <!-- ////////////////////////////////////////////////////////////------ User-Details------///////////////////////////////////////////////  -->

              <div class="col-md-6">
                <h4><u> :- User Details -:</u></h4>

                <div class="form-group">
                  <input type="text" class="form-control" maxlength="20" formControlName="first_name"
                    placeholder="First Name *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('first_name').invalid && registerForm.get('first_name').touched">

                  <p *ngIf="registerForm.get('first_name').errors.required" style="color: red">
                    First Name is required.
                  </p>
                  <p *ngIf="registerForm.get('first_name').errors.pattern" style=" color: red;">
                    First Name must be a valid name.
                  </p>
                </ng-container>

                <div class="form-group">
                  <input type="text" name="txtEmpPhone" maxlength="20" class="form-control" formControlName="last_name"
                    placeholder="Last Name *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('last_name').invalid && registerForm.get('last_name').touched">

                  <p *ngIf="registerForm.get('last_name').errors.required" style="color: red">
                    Last Name is required.
                  </p>
                  <p *ngIf="registerForm.get('last_name').errors.pattern" style=" color: red;">
                    Last Name must be a valid name.
                  </p>

                </ng-container>

                <div class="form-group">
                  <input type="text" name="txtEmpPhone" class="form-control" formControlName="job_title"
                    placeholder="Job tittle *" value="" />
                </div>
                <ng-container *ngIf="registerForm.get('job_title').invalid && registerForm.get('job_title').touched">
                  <p style="color:red ;"> *Job Title is required</p>
                </ng-container>

                <div class="form-group">
                  <input type="text" #emailValue class="form-control" formControlName="email"
                    placeholder="Email Address*" value="" />
                </div>

                <ng-container *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">

                  <small *ngIf="registerForm.get('email').errors.required" style="color: red">
                    Email is required.
                  </small>
                  <small *ngIf="registerForm.get('email').errors.email " style=" color: red;">
                    *Please enter a valid Email Address.
                  </small>
                </ng-container>


                <ng-container *ngIf="sendOtpBtn==true">
                  <button [disabled]="emailBtn" (click)="sendOtp(emailValue.value)" [hidden]=verifyShow
                    class=" btn-primary"> Send Otp</button>

                </ng-container>
                <ng-container *ngIf="reSendOtpBtn==true">
                  <button (click)="sendOtp(emailValue.value)" [hidden]=verifyShow class=" btn-primary"> Resend
                    Otp</button>

                </ng-container>


                <div class="col-md-6">

                  <input #otp type="text" maxlength="4" class="btn-cons text-danger" [hidden]="verifyShow"
                    placeholder="Enter OTP" />
                  <p class="text-danger" [hidden]="otpmessage">Invalid OTP</p>

                  <p [hidden]=showVerify class="text-success"><b>Verified</b></p>
                  <button [disabled]="otpBtn" (click)="otpVer(otp.value)" [hidden]="verifyShow"
                    class=" btn-primary">Verify</button>

                </div>

                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password" placeholder="Password"
                    value="" />
                </div>
                <ng-container *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                  <p style="color: red">
                    password is required.
                  </p>
                </ng-container>

                <div class="form-group">
                  <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder=" Confirm Password*" value="" />
                </div>
                <p *ngIf="registerForm.get('confirmPassword').value != registerForm.get('password').value"
                  style=" color: red;">
                  *Password and ConfirmPassword not Match.
                </p>
                <!-- <input type="submit" class="btnRegister"  value="Register" /> -->
                <button mat-raised-button class="btnRegister" [disabled]="registerForm.invalid">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>