<app-header></app-header>

<div class="container mt-3">
    <h1><u>My Products -:</u></h1>
    <div class="row">
        <div class="col-md-4">
            <mat-card style="border:2px solid  #37bc9b">
                <div class="d-flex justify-content-between">
                    <h4>Package Name</h4>
                    <h4>Diamond(Single-User)</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Total Employee</h4>
                    <h4>50</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Purchage Date</h4>
                    <h4>25-05-2020</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Expairy Date</h4>
                    <h4>30-05-2020</h4>
                </div>

                <div class="raisedButton">
                    <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                        dashboard</button>
                </div>

            </mat-card>
        </div>
        <div class="col-md-4 mb-3">
            <mat-card style="border:2px solid #f05050">
                <div class="d-flex justify-content-between">
                    <h4>Product Name</h4>
                    <h4>Diamond(Multi-User)</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Total Employee </h4>
                    <h4>150</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Purchage Date</h4>
                    <h4>25-05-2020</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Expairy Date</h4>
                    <h4>30-05-2020</h4>
                </div>

                <div class="raisedButton">
                    <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                        Dashboard</button>
                </div>

            </mat-card>

        </div>
        <div class="col-md-4 mb-3">
            <mat-card style="border:2px solid orange">
                <div class="d-flex justify-content-between">
                    <h4>Product Name</h4>
                    <h4>Platinum(Single-User)</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Total Employee </h4>
                    <h4>100</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Purchage Date</h4>
                    <h4>25-05-2020</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <h4>Expairy Date</h4>
                    <h4>30-05-2020</h4>
                </div>
                <div class="raisedButton">
                    <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                        dashboard</button>
                </div>


            </mat-card>

        </div>
    </div>
</div>
<app-footer></app-footer>