<app-header></app-header>
<div class="container mt-3">
    <h1><u>My Products -:</u></h1>
    <div class="row">

        <div class="col-md-4" *ngFor="let item of productDetails">
            <ng-container *ngIf="item.packageName=='Platinum(Multi-User)'">
                <mat-card class="designCard" style="border-top-color: orangered;border-bottom-color: orangered">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate}} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>
                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName=='Platinum(Multi-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} Days Remaining</h4>
                        </div>
                    </ng-container>

                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>

                </mat-card>
            </ng-container>


            <ng-container *ngIf="item.packageName=='Platinum(Single-User)'">
                <mat-card class="designCard" style="border-top-color: #921e4e;border-bottom-color: #921e4e">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate}} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>

                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName=='Platinum(Single-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} Days Remaining</h4>
                        </div>
                    </ng-container>
                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>

                </mat-card>
            </ng-container>

            <ng-container *ngIf="item.packageName=='Diamond(Multi-User)'">
                <mat-card class="designCard" style="border-top-color: #043a5d;border-bottom-color:#043a5d">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate}} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>
                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName=='Diamond(Multi-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} Days Remaining</h4>
                        </div>
                    </ng-container>
                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>

                </mat-card>
            </ng-container>
            <ng-container *ngIf="item.packageName=='Diamond(Single-User)'">
                <mat-card class="designCard" style="border-top-color: #21618C;border-bottom-color:#21618C">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate }} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>
                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName=='Diamond(Single-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} Days Remaining</h4>
                        </div>
                    </ng-container>
                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>

                </mat-card>
            </ng-container>


            <ng-container *ngIf="item.packageName=='Enterprise(Multi-User)'">
                <mat-card class="designCard" style="border-top-color:#3d0e09;border-bottom-color:#3d0e09">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate}} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>
                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName=='Enterprise(Multi-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} Days Remaining</h4>
                        </div>
                    </ng-container>

                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>
                </mat-card>
            </ng-container>

            <ng-container *ngIf="item.packageName=='Free User(Single-User)'">
                <mat-card class="designCard" style="border-top-color: #5d9cec;border-bottom-color:#5d9cec">
                    <div class="d-flex justify-content-between">
                        <h4>Package Name</h4>
                        <h4>{{item.packageName}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Total Employee</h4>
                        <h4>{{item.totalUser}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Purchage Date</h4>
                        <h4>{{item.from |customDate}} </h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4>Expairy Date</h4>
                        <h4>{{item.to |customDate}} </h4>
                    </div>
                    <ng-container *ngFor="let data of totalRemaining">
                        <div *ngIf="data.packageName =='Free User(Single-User)'">
                            <h4 style="text-align: center;margin-top: 15px;">{{data.remaininigDays}} days Remaining</h4>
                        </div>
                    </ng-container>

                    <div class="raisedButton">
                        <button mat-raised-button color="primary" routerLink="/layout/dashboard/admin">Launch
                            dashboard</button>
                    </div>
                </mat-card>
            </ng-container>

        </div>

    </div>
</div>
<app-footer></app-footer>