<div class="container mt-3">
  <h1><u>My Products -:</u></h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of productDetails">
      <ng-container *ngIf="item.packageName == 'Platinum(Multi-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: orangered; border-bottom-color: orangered"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from | customDate }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>{{ item.group[0].to | customDate }}</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">
            {{ item.group[0].remaininigDays }} Days Remaining
          </h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>

            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="item.packageName == 'Platinum(Single-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: #921e4e; border-bottom-color: #921e4e"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>{{ item.group[0].to | customDate }}</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">
            {{ item.group[0].remaininigDays }} Days Remaining
          </h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>

            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="item.packageName == 'Diamond(Multi-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: #043a5d; border-bottom-color: #043a5d"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from | customDate }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>{{ item.group[0].to | customDate }}</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">
            {{ item.group[0].remaininigDays }} Days Remaining
          </h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>

            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="item.packageName == 'Diamond(Single-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: #21618c; border-bottom-color: #21618c"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from | customDate }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>{{ item.group[0].to | customDate }}</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">
            {{ item.group[0].remaininigDays }} Days Remaining
          </h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>
            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="item.packageName == 'Enterprise(Multi-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: #3d0e09; border-bottom-color: #3d0e09"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from | customDate }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>{{ item.group[0].to | customDate }}</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">
            {{ item.group[0].remaininigDays }} Days Remaining
          </h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>

            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="item.packageName == 'Basic(Single-User)'">
        <mat-card
          class="designCard"
          style="border-top-color: #5d9cec; border-bottom-color: #5d9cec"
        >
          <div class="d-flex justify-content-between">
            <h4>Package Name</h4>
            <h4>{{ item.packageName }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Total Employee</h4>
            <h4>{{ item.group[0].totalUser }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Purchage Date</h4>
            <h4>{{ item.group[0].from | customDate }}</h4>
          </div>
          <div class="d-flex justify-content-between">
            <h4>Expairy Date</h4>
            <h4>Unlimited</h4>
          </div>

          <h4 style="text-align: center; margin-top: 15px">Lifetime Access</h4>

          <div class="raisedButton d-flex">
            <button
              mat-raised-button
              color="primary"
              (click)="adminlogin(item.id)"
            >
              Launch dashboard
            </button>
            <button class="renewButton" (click)="renewPackage(item.adminId)">
              Renew Package
            </button>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
