.content {
	padding: 30px;
}


.child {
    width: fit-content;
    display: inline;
    
    margin: 1% 0px;

}
.main {
    width: 10%;
    list-style-type: none;
    margin: 0.5em;
    padding: 0.5em;
    display: inline;
   
    justify-content: space-between;
    
}