<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col-12">
          <h3 class="page-title">Schedule timing</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/layout/dashboard/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item">Jobs</li>
            <li class="breadcrumb-item active">Schedule timing</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-striped custom-table mb-0 datatable"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Job Title</th>
                <th>User Available Timings</th>

                <th>Interview Timings</th>
                <th>Interview Date</th>
                <th>Status</th>

                <th>Resume</th>
                <th class="text-center">Schedule timing</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fees of lstFees; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <h2 class="table-avatar">
                    <a routerLink="/layout/profile/profilelist" class="avatar"
                      ><img alt="" src="assets/img/profiles/avatar-2.jpg"
                    /></a>
                    <a routerLink="/layout/profile/profilelist"
                      >{{ fees.firstName }} <span>{{ fees.lastName }}</span></a
                    >
                  </h2>
                </td>
                <td>
                  <a routerLink="/layout/jobs/job-details">{{
                    fees.jobTitle
                  }}</a>
                </td>
                <td>
                  <b>{{ fees.useravailable }}</b
                  >{{ fees.useravailabletimings }}<br /><b>{{
                    fees.useravailable1
                  }}</b>
                  {{ fees.useravailabletimings1 }}<br /><b>{{
                    fees.useravailable2
                  }}</b>
                  {{ fees.useravailabletimings2 }}<br />
                </td>

                <td>{{ fees.interviewTime }}</td>
                <td>{{ fees.interviewDate }}</td>
                <td class="text-center">
                  <div class="dropdown action-label">
                    <a
                      class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i
                        class="fa fa-dot-circle-o text-danger"
                        *ngIf="fees.status == 'Disqualified'"
                        >{{ fees.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-success"
                        *ngIf="fees.status == 'Qualified'"
                        >{{ fees.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-info"
                        *ngIf="fees.status == 'Second Round'"
                        >{{ fees.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-muted"
                        *ngIf="fees.status == 'Final Round'"
                        >{{ fees.status }}</i
                      >
                      <i
                        class="fa fa-dot-circle-o text-warning"
                        *ngIf="fees.status == 'First Round'"
                        >{{ fees.status }}</i
                      >
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item"
                        (click)="selectStatus('Qualified', fees.id)"
                        ><i class="fa fa-dot-circle-o text-success"></i>
                        Qualified</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="selectStatus('Disqualified', fees.id)"
                        ><i class="fa fa-dot-circle-o text-danger"></i>
                        Disqualified</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="selectStatus('Second Round', fees.id)"
                        ><i class="fa fa-dot-circle-o text-info"></i> Second
                        Round</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="selectStatus('Final Round', fees.id)"
                        ><i class="fa fa-dot-circle-o text-warning"></i> Final
                        Round</a
                      >
                    </div>
                  </div>
                </td>

                <td>
                  <a
                    class="btn btn-sm btn-primary"
                    href="http://localhost:8443/{{ fees.resume }}"
                    ><i class="fa fa-download"></i> Download</a
                  >
                </td>
                <td class="text-center">
                  <div class="action-label">
                    <a
                      class="btn btn-primary btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#edit_job"
                      href="#"
                      (click)="tempId = fees.id"
                      (click)="currentStatus = fees.status"
                    >
                      Schedule Time
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Edit Job Modal -->
  <div id="edit_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Schedule Time</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <label>Schedule Date 1</label>
                <div class="form-group d-flex">
                  <div class="cal-icon">
                    <input
                      #date1
                      class="form-control datetimepicker"
                      type="text"
                      bsDatepicker
                      [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        returnFocusToInput: true
                      }"
                    />
                  </div>
                  <select
                    class="m-l-5 form-select form-control"
                    style="border-radius: 5px"
                    (change)="getOneEmployee($event)"
                  >
                    <option selected>Select Interviewer</option>
                    <ng-container *ngFor="let item of allEmployee">
                      <option value="{{ item.id }}">
                        {{ item.firstName }} {{ item.lastName }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>Select Time</label>
                <div class="form-group d-flex">
                  <select class="form-select form-control" #time1>
                    <option>Select Time</option>
                    <option selected>12:00 AM-01:00 AM</option>
                    <option>01:00 AM-02:00 AM</option>
                    <option>02:00 AM-03:00 AM</option>
                    <option>03:00 AM-04:00 AM</option>
                    <option>04:00 AM-05:00 AM</option>
                    <option>05:00 AM-06:00 AM</option>
                  </select>
                  <button
                    *ngIf="currentStatus == 'First Round'"
                    class="m-l-5 btn-primary"
                    style="border-radius: 5px"
                    (click)="sendEmail(tempId, date1.value, time1.value)"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Second Round'"
                    class="m-l-5 btn-success"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Final Round'"
                    class="m-l-5 btn-success"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                </div>
              </div>

              <div class="col-md-6">
                <label>Schedule Date 2</label>
                <div class="form-group d-flex">
                  <div class="cal-icon">
                    <input
                      #date2
                      class="form-control datetimepicker"
                      type="text"
                      bsDatepicker
                      [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        returnFocusToInput: true
                      }"
                    />
                  </div>
                  <select
                    class="m-l-5 form-select form-control"
                    style="border-radius: 5px"
                    (change)="getOneEmployee($event)"
                  >
                    <option selected>Select Interviewer</option>
                    <ng-container *ngFor="let item of allEmployee">
                      <option value="{{ item.id }}">
                        {{ item.firstName }} {{ item.lastName }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>Select Time</label>
                <div class="form-group d-flex">
                  <select #time2 class="form-select form-control">
                    <option>Select Time</option>
                    <option selected>12:00 AM-01:00 AM</option>
                    <option>01:00 AM-02:00 AM</option>
                    <option>02:00 AM-03:00 AM</option>
                    <option>03:00 AM-04:00 AM</option>
                    <option>04:00 AM-05:00 AM</option>
                    <option>05:00 AM-06:00 AM</option>
                  </select>
                  <button
                    *ngIf="currentStatus == 'First Round'"
                    class="m-l-5 btn-danger"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Second Round'"
                    class="m-l-5 btn-primary"
                    style="border-radius: 5px"
                    (click)="sendEmail(tempId, date2.value, time2.value)"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Final Round'"
                    class="m-l-5 btn-success"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                </div>
              </div>

              <div class="col-md-6">
                <label>Schedule Date 3</label>
                <div class="form-group d-flex">
                  <div class="cal-icon">
                    <input
                      #date3
                      class="form-control datetimepicker"
                      type="text"
                      bsDatepicker
                      [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        returnFocusToInput: true
                      }"
                    />
                  </div>
                  <select
                    class="m-l-5 form-select form-control"
                    style="border-radius: 5px"
                    (change)="getOneEmployee($event)"
                  >
                    <option selected>Select Interviewer</option>
                    <ng-container *ngFor="let item of allEmployee">
                      <option value="{{ item.id }}">
                        {{ item.firstName }} {{ item.lastName }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>Select Time</label>
                <div class="form-group d-flex">
                  <select #time3 class="form-select form-control">
                    <option>Select Time</option>
                    <option selected>12:00 AM-01:00 AM</option>
                    <option>01:00 AM-02:00 AM</option>
                    <option>02:00 AM-03:00 AM</option>
                    <option>03:00 AM-04:00 AM</option>
                    <option>04:00 AM-05:00 AM</option>
                    <option>05:00 AM-06:00 AM</option>
                  </select>
                  <button
                    *ngIf="currentStatus == 'First Round'"
                    class="m-l-5 btn-danger"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Second Round'"
                    class="m-l-5 btn-danger"
                    style="border-radius: 5px"
                    [disabled]="true"
                  >
                    Resend Mail
                  </button>
                  <button
                    *ngIf="currentStatus == 'Final Round'"
                    class="m-l-5 btn-primary"
                    style="border-radius: 5px"
                    (click)="sendEmail(tempId, date3.value, time3.value)"
                  >
                    Resend Mail
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="submit-section">
              <button class="btn btn-primary submit-btn">Save</button>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Edit Job Modal -->

  <!-- Delete Job Modal -->
  <div class="modal custom-modal fade" id="delete_job" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a
                  href="javascript:void(0);"
                  class="btn btn-primary continue-btn"
                  >Delete</a
                >
              </div>
              <div class="col-6">
                <a
                  href="javascript:void(0);"
                  data-bs-dismiss="modal"
                  class="btn btn-primary cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Job Modal -->
</div>
<!-- /Page Wrapper -->
