<div class="fixedHeader">

    <div class="textDiv">

        <div class="IndiasNo1">
            <span class="spanText" style="color:rgb(255, 0, 0)">India’s No.1 </span>
            <span class="spanText" style="color:rgb(21, 255, 0)">HR Payroll</span>
            <span class="spanText" style="color:rgb(255, 0, 0)"> and </span>
            <span class="spanText" style="color:rgb(21, 255, 0)">Employee Management</span>
            <h1 class="spanText" style= "color:rgb(21, 255, 0)">Softwere</h1>
            <h1 class="createGstComp"> HR & Payroll Administration Management with the Best HR Software </h1>

            <div class="input-group inputTextOp">
                <input type="text" class="form-control textOp" placeholder="Enter Mobile Number"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text freeTrail" id="basic-addon2"><span class="getfree">Get Free
                            Trial</span></span>
                </div>
            </div>

            <h4 class="desktop">Register Now
                <!-- <img src="  https://mybillbook.in/static-assets/images/download.webp" style="width:25px;height:25px"> -->
            </h4>


            <div class="iso">
                <h2 class="India">Made with ❤️ in India</h2>
                <div>
                    <img src="https://mybillbook.in/static-assets/images/landing-page/iso-black.webp"
                        class="isoCertified">
                </div>
                <div>
                    <img src="https://mybillbook.in/static-assets/images/landing-page/customer%20choice.svg"
                        class="customerChoice">
                </div>

            </div>
        </div>
        <!-- 
        <div class="vajpaiiDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/landing-hero-image.webp"
                class="VajpaiiImg">
        </div> -->
        <div class="vajpaiiDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/landing-hero-image.webp"
                class="VajpaiiImg">
        </div>
    </div>

    <div class="rupee">
        <div>
            <h1 class="lakh">10 Lakh+</h1>
            <h3 class="trustBussiness">Businesses Trust us</h3>
        </div>
        <div>
            <h1 class="lakh">3 Cr+ </h1>
            <h3 class="trustBussiness">Invoices created</h3>
        </div>
        <div>
            <h1 class="lakh">7000+ </h1>
            <h3 class="trustBussiness">Cities & Towns in India</h3>
        </div>
        <div>
            <h1 class="lakh">4.7star </h1>
            <h3 class="trustBussiness"> icon Rating on Google Play</h3>
        </div>
    </div>



    <div class="flexImage">
        <div class="CreateAndPrint">
            <h1 class="Create">Create and Print</h1>
            <span class="professional">Professional GST</span>
            <span class="or"> or </span>
            <span class="NonGst"> Non-GST Bills</span>

            <h3 class="fully"> Fully customizable bills as per your business needs</h3>
            <li class="list">Add Custom fields such as Vehicle No, E-way bill, etc.</li>
            <li class="list">Choose your own invoice formats</li>
            <h4 class="fully">Print according to your needs</h4>
            <li class="list">Regular printer supported (A4 & A5)</li>
            <li class="list">Thermal Printer supported (2 inch & 3 inch)</li>
        </div>
        <div class="lapimage">
            <img src="https://mybillbook.in/static-assets/images/landing-page/bills-invoice.webp" class="invoiceImage">
        </div>
    </div>

    <!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm-->
    <div class="whyUseBillBook">
        <span class="why" style="color:orange">Why</span>
        <span class="why">use myBillBook?</span>
    </div>

    <div class="Flexicons">
        <div class="invoiceWebp">
            <img src="https://mybillbook.in/static-assets/images/landing-page/gst%20billing%20invoice.webp"
                class="imgHight">
            <h2 class="manageInventory">GST Invoicing/Billing</h2>
        </div>
        <div class="invoiceWebp">
            <img src="	https://mybillbook.in/static-assets/images/landing-page/manage-your-inventory.webp"
                class="imgHight">
            <h2 class="manageInventory">Manage Your Inventory</h2>
        </div>
        <div class="invoiceWebp">
            <img src="	https://mybillbook.in/static-assets/images/landing-page/easy-accounting-img.webp"
                class="imgHight">
            <h2 class="manageInventory">Accounting Made Easy</h2>
        </div>
    </div>

    <div class="Flexicons">
        <div class="invoiceWebp">
            <img src="https://mybillbook.in/static-assets/images/landing-page/Collect%20Payments%20Faster.webp"
                class="imgHight">
            <h2 class="manageInventory">Collect Payments Faster</h2>
        </div>
        <div class="invoiceWebp">
            <img src="https://mybillbook.in/static-assets/images/landing-page/analyze-business-reporting.webp"
                class="imgHight">
            <h2 class="manageInventory">Analyse business reports</h2>
        </div>
        <div class="invoiceWebp">
            <img src="	https://mybillbook.in/static-assets/images/landing-page/DeliveryChallan.webp" class="imgHight">
            <h2 class="manageInventory">Delivery Challan</h2>
        </div>
    </div>


    <div class="StayConnected">
        <span class="stay1">Stay</span>
        <span class="Connected">connected</span>
        <h2 class="SyncData">Sync data seamlessly between Computer & Mobile</h2>
    </div>
    <div class="text-center op">
        <img src="https://mybillbook.in/static-assets/images/landing-page/stay-connected.webp" class="mobileLaptop">
    </div>




    <div class="coneImgDiv">

        <div class=" flexHiddenImg">
            <div class="retailersDiv">
                <h1 class="whoisIt">Who is it for?</h1>
                <div class="ForRetailers">
                    <h3 style="padding-top:20px;">For Retailers - Faster Billing and POS</h3>
                    <div [hidden]="plusIcon1" (click)="showText('1')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-plus.webp"
                            class="plusIcon">
                    </div>
                    <div [hidden]="minusIcon1" (click)="showText('11')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-minus.webp"
                            class="plusIcon">

                    </div>
                </div>
                <div [hidden]="minusIcon1" (click)="showText('11')" class="hiddenContentDiv">
                    <li class="hiddenList"> Make invoices with the counter system on myBillBook app</li>
                    <li class="hiddenList"> Digitise all day-to-day business transactions</li>
                    <li class="hiddenList">Track & manage business inventory accurately</li>
                    <li class="hiddenList"> Take thermal printouts</li>
                </div>


                <div class="ForRetailers" style="margin-top:50px">
                    <h3 style="padding-top:20px;">For Wholesalers and Distributors</h3>
                    <div [hidden]="plusIcon2" (click)="showText('2')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-plus.webp"
                            class="plusIcon">
                    </div>
                    <div [hidden]="minusIcon2" (click)="showText('22')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-minus.webp"
                            class="plusIcon">
                    </div>

                </div>
                <div [hidden]="minusIcon2" (click)="showText('22')" class="hiddenContentDiv">
                    <li class="hiddenList"> Manage customer outstandings & send payment reminders</li>
                    <li class="hiddenList"> Share invoices via SMS and WhatsApp</li>
                    <li class="hiddenList">Create customised invoices according to the business needs</li>
                    <li class="hiddenList"> Send customised greeting cards with your company logo</li>
                </div>

                <div class="ForRetailers" style="margin-top:50px">
                    <h3 style="padding-top:20px;">Business Reports for everyone</h3>
                    <div [hidden]="plusIcon3" (click)="showText('3')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-plus.webp"
                            class="plusIcon">
                    </div>
                    <div [hidden]="minusIcon3" (click)="showText('33')">
                        <img src="https://mybillbook.in/static-assets/images/landing-page/icon-minus.webp"
                            class="plusIcon">
                    </div>


                </div>

                <div [hidden]="minusIcon3" (click)="showText('33')" class="hiddenContentDiv">
                    <li class="hiddenList"> Analyse 14+ business reports and make strategic decisions
                    </li>
                    <li class="hiddenList"> Send rate list, quotations to your customers/clients</li>
                    <li class="hiddenList">
                        Digitise your business operations & grow 2X</li>
                    <li class="hiddenList">
                        Get ahead of the competition with myBillBook</li>
                    <li class="hiddenList"> Enhance business presence with professionalism</li>
                </div>
            </div>

            <div class="ManImgDiv">
                <div [hidden]="minusIcon1" (click)="showText('11')">
                    <img src="https://mybillbook.in/static-assets/images/landing-page/Mask-Group-2.webp" class="manImg">
                </div>
                <div [hidden]="minusIcon2" (click)="showText('22')">
                    <img src="https://mybillbook.in/static-assets/images/landing-page/Mask-Group.webp" class="manImg">
                </div>
                <div [hidden]="minusIcon3" (click)="showText('33')">
                    <img src="https://mybillbook.in/static-assets/images/landing-page/Mask-Group-1.webp" class="manImg">
                </div>

            </div>
        </div>
    </div>





    <div class="manyButtons">
        <span class="what ">What</span>
        <span class="ourUsers"> our users </span>
        <span class="SayAboutUs">say about us</span>
        <h1 class="Bussiness">Businesses from all industries love using myBillBook</h1>

        <button class="Fmgc" (click)="showComment('1')">FMGC</button>
        <button class="Electronics" (click)="showComment('2')">Electronics</button>
        <button class="Hardware" (click)="showComment('3')">Hardware</button>
        <button class="Kirana" (click)="showComment('4')">Kirana</button>
        <button class="Jewellery" (click)="showComment('5')"> Jewellery</button>
        <div style="margin-top:30px">
            <button class="Pharma" (click)="showComment('6')">Pharma </button>
            <button class="Transportation" (click)="showComment('7')">Transportation</button>
        </div>
    </div>




    <div [hidden]="FMGC">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="https://mybillbook.in/static-assets/images/landing-page/fmcg.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top:20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top:30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>


    <div [hidden]="Electronics">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="	https://mybillbook.in/static-assets/images/landing-page/electronics.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>Electronics Distributor</i></h2>
                <h3 style="margin-top: 20px;" class="student">"Very easy to use, I have given the app to all my salesmen
                    for entry.
                    myBillBook team added
                    option
                    for
                    IMEI and Product code for every item in invoice now. I moved all my Tally data to myBillBook,
                    made
                    my
                    business easier.
                </h3>
                <h2 style="margin-top:30px;" class="guru">-<i>-JLB Technologies</i> </h2>
            </div>
        </div>
    </div>




    <div [hidden]="Hardwere">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="https://mybillbook.in/static-assets/images/landing-page/hardware.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top: 20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top: 30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>




    <div [hidden]="Kirana">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="	https://mybillbook.in/static-assets/images/landing-page/kirana.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top: 20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top: 30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>




    <div [hidden]="Jewellary">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="https://mybillbook.in/static-assets/images/landing-page/jwellery.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top: 20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top: 30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>


    <div [hidden]="Pharma">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="https://mybillbook.in/static-assets/images/landing-page/pharma.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top: 20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top: 30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>



    <div [hidden]="Transportation">
        <div class="flexImageContent">
            <div class="commentImgDiv">
                <img src="https://mybillbook.in/static-assets/images/landing-page/transport.webp" class="commentImg">
            </div>
            <div class="FmgcContent">
                <h2 class="guru"><i>FMCG Wholesaler</i></h2>
                <h3 style="margin-top: 20px;" class="student">"With mobile app, I can manage my billing and stock when
                    I’m on the field.
                    Getting credit
                    payment is
                    2x
                    faster with use of payment reminders and pay with UPI option. Now I have more money to grow my
                    business.
                    Also, I can give app to anyone to manage, because it is so easy unlike other billing software.
                    Best
                    app
                    myBillBook - Make In India!</h3>
                <h2 style="margin-top: 30px;" class="guru">-<i>Gurukripa Traders</i> </h2>
            </div>
        </div>
    </div>

    <div>

    </div>



    <div class="flexBusiness">
        <div class="onlineContentDiv">
            <span class="TakeYourBusiness">Take your business </span>
            <span class="online">Online</span>

            <p class="setup">Setup your online store, create digital catalogues and grow your business by selling
                via
                WhatsApp
                and Facebook.</p>
        </div>
        <div class="storeImgDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/online-store.webp" class="storeImg">
        </div>

    </div>


    <div class="benifitsOfBillbook">
        <span class="benifits">Benefits </span>
        <span class="billBook">of using myBillBook</span>
    </div>

    <div class="flexNewIcons">
        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/safeandsecure.webp"
                class="safeAndSecureImg">
            <h2 style="margin-top: 10px;" class="safeAnd">Safe and Secure</h2>

        </div>
        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/AutomaticBackup.webp"
                class="safeAndSecureImg">
            <h2 style="margin-top: 10px;" class="safeAnd">Automatic Backup</h2>

        </div>
        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/multilanguage.webp"
                class="safeAndSecureImg">
            <h2 style="margin-top: 10px;" class="safeAnd">Multiple Language Support</h2>

        </div>
    </div>
    <div class="flexNewIcons">
        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/offilnebilling.webp"
                class="safeAndSecureImg">
            <h2 style="margin-top: 10px;" class="safeAnd">Offline Billing</h2>

        </div>

        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/whatsapp.webp" class="safeAndSecureImg">
            <h2 style="margin-top: 10px;" class="safeAnd">Whatsapp Support</h2>

        </div>

        <div class="safeAndSecureDiv">
            <img src="https://mybillbook.in/static-assets/images/landing-page/datatransfer.webp"
                class="safeAndSecureImg">
            <h2 style="margin-top: 10px" class="safeAnd">Easy Data Transfer</h2>

        </div>


    </div>



    <div class="AssociationDiv">
        <span class="Associations">Associations </span>
        <span class="And">&</span>
        <span class="Associations">Memberships</span>

    </div>
    <div class="memberIconsDiv">
        <div class="memberIcons">
            <img src="https://mybillbook.in/static-assets/images/landing-page/sme-business-forum.webp"
                class="memberIconImg">

        </div>
        <div class="memberIcons">
            <img src="https://mybillbook.in/static-assets/images/landing-page/assocham.webp" class="memberIconImg">

        </div>
        <div class="memberIcons">
            <img src="https://mybillbook.in/static-assets/images/landing-page/sme-chamber.webp" class="memberIconImg">
        </div>
        <div class="memberIcons">
            <img src="https://mybillbook.in/static-assets/images/landing-page/ficci.webp" class="memberIconImg">
        </div>
        <div class="memberIcons">
            <img src="https://mybillbook.in/static-assets/images/landing-page/nasscom.webp" class="memberIconImg1">
        </div>

    </div>


</div>