/* .headerCom{
	position: fixed;
	top:0%;
	width:100%;
} */
.fixedHeader{
	margin-top: 80px;
}
.button{
	border:15px solid orange;
	background-color: orange;
	width: 200px;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
}
.rupee{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.spanText{
	font-size:37px;
	font-weight: bold;
	
}
.textDiv{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(238, 235, 232);
}

.IndiasNo1{
   width:60%;
   padding-left: 70px;
}
.createGstComp{
	font-size: 25px;
	margin-top: 20px;
}
.inputTextOp{
   width:80%;
   margin-top: 20px;
}
.textOp{
	height: 60px;
	font-size: 25px;
}
.vajpaiiDiv{
	width:40%;
}
.VajpaiiImg{

width:100%

}
.freeTrail{
	height:60px;
}
.getfree{
	font-size: 20px;
	border:5px solid red;
	background: red;
	cursor: pointer;
	border-radius:5px;

}
.desktop{
	margin-top: 50px;
	border:10px solid black;
	background-color: black;
	color:white;
	width:30%;
	text-align: center;
	border-radius: 7px;
	font-size: 16px;
	margin-left: 20px;
}

.fileicon{
	text-align: center;
   }

.iso{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width:70%;
	
}
.India{
		font-size: 20px;
	}
	
	.isoCertified{
		width: 130px;
	}
	.customerChoice{
		width:170px
	}

	.lakh{
		text-align: center;
		color:orange;
		font-size:38px;
	}


.Create{
	margin-top: 80px;
	font-size: 40px;

}
.professional{
	font-size: 40px;
	color:red;
	font-weight: bold;
}
.NonGst{
	font-size: 40px;
	color:red;
	font-weight: bold;
}
.or{
	font-size: 40px;
	font-weight: bold;
}
.fully{
 margin-top: 40px;
 font-size: 20px;
}
.op{
	background:white;
	border-bottom:10px solid orange
}
.list{
	margin-top: 15px;
	font-size: 20px;
	margin-left: 10px;
}

.flexImage{
  display:flex;
  justify-content: space-between;
  padding-left: 70px;
}

.lapimage{
	width:50%;
}
.invoiceImage{
	width:100%;
}
.whyUseBillBook{
	padding-left: 70px;
	margin-top: 50px;

}


.why{
	font-size: 40px;
	font-weight: bold;
}
.Flexicons{
	display:flex;
	justify-content: space-between;
}
.invoiceWebp{
	margin-top: 100px;
	width:30%;
	text-align: center;
}
.imgHight{
	width:130px;
	height:130px;

}
.StayConnected{
	font-size: 40px;
	font-weight: bold;
    padding-left: 70px;
   margin-top:50px
}
.stay1{
	font-size: 30px;
}
.Connected{
	font-size: 40px;
	font-weight: bold;
	color:orange;
	margin-left: 10px;
}

.mobileLaptop{
	width:70%;
}

.whoisIt{
	color:orange;
	font-weight: bold;
	font-size: 50px;
	margin-top: 20px;
}
.retailersDiv{
	width:50%;
}
.ForRetailers{
	display: flex;
	justify-content: space-between;
	margin-top:40px;
	width:100%;
	height:80px;
	background:white;
	padding-left: 20px;

}
.plusIcon{
	height:50px;
	width:50px;
	margin-right:20px;
	margin-top:15px;
}
.hiddenList{
	font-size: 20px;
}
.hiddenContentDiv{
	background-color: white;
	padding-top: 10px;
    width:100%;
	padding-left: 30px;
	
}
.coneImgDiv{
	background-color: rgb(238, 235, 232);
	width:100%;
	padding-left: 70px;
}

.flexHiddenImg{
	display:flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

.ManImgDiv{
width:30%;
}
.manImg{
	width:100%;
}

.manyButtons{
	padding-left: 70px;
 }

.what{
	font-size: 40px;
}
.ourUsers{
	color:orange;
	font-size: 40px;
	font-weight: bold;
}

.Bussiness{
	margin-top: 10px;
	font-size: 30px;

}
.SayAboutUs{
	font-size: 40px;
}
.Fmgc{
	margin-top: 20px;
	font-size: 20px;
	border:5px solid red;
	background:red;
	width:13%;
	border-radius: 20px;
}
.Electronics{
	font-size: 20px;
	border:5px solid green;
	background:green;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;


}
.Hardware{
	font-size: 20px;
	border:5px solid yellow;
	background:yellow;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;


}
.Kirana{
	font-size: 20px;
	border:5px solid blue;
	background:blue;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;
}
.Jewellery{
	font-size: 20px;
	border:5px solid blueviolet;
	background:blueviolet;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;
}
.Pharma{
	font-size: 20px;
	border:5px solid orange;
	background:orange;
	width:13%;
	border-radius: 20px;
}
.Transportation{
	font-size: 20px;
	border:5px solid rgb(121, 169, 203);
	background: rgb(121, 169, 203);
	margin-left: 20px;
	border-radius: 20px;
	width:13%;
}
.flexImageContent{
display:flex;
justify-content: space-between;
}
.FmgcContent{
	width:75%;
	margin-top: 70px;
	padding-right:20px;
padding-left: 20px;
}
.commentImgDiv{
	width:20%;
	margin-left: 70px;
	margin-top: 70px;
}
.commentImg{
	width:75%;
	margin-left: 70px;
}

.flexBusiness{
	display:flex;
	justify-content: space-between;
	padding-left:70px;
	width:100%;
}
.onlineContentDiv{
	margin-top: 170px;
	width:50%;
}

.TakeYourBusiness{
	font-size: 40px;
	font-weight: bold;
}
.online{
	color:orange;
	font-size: 40px;
	font-weight: bold;
}
.setup{
	font-size: 30px;
}

.storeImgDiv{
	width:50%;
}
.storeImg{

	width:90%;
}

.benifitsOfBillbook{
	margin-top: 70px;
	padding-left:70px;
}
.benifits{
	font-size: 40px;
	color:orange;
	font-weight: bold;
}
.billBook{
	font-size: 40px;

}
.flexNewIcons{
	margin-left: 100px;
	display:flex;
	justify-content: space-between;
	margin-top: 100px;
}
.safeAndSecureDiv{
	width:30%;
	text-align: center;

}
.safeAndSecureImg{
	height: 150px;
	width: 150px;
	
}
.AssociationDiv{
	margin-top: 100px;
	margin-left: 70px;
}
.Associations{
	font-size: 40px;
	color:orange;
}
.And{
	font-size: 40px;

}

.memberIconsDiv{
	display:flex;
	justify-content: space-between;
	background-color: white;

}
.memberIcons{
	width:15%;
	margin-left: 70px;
	margin-right: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.memberIconImg{
	width:177px;
}

.memberIconImg1{
	width:177px;
	height: 50px;
}




/* /////////////////////////////////////////MIDIA QUERY START FROM HERE ///////////////////////////////////////*/

@media(min-width:1400px) and (max-width:1500px){
	
.textDiv{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(238, 235, 232);
}
.IndiasNo1{
	width:60%;
	padding-left: 70px;
 }
 .desktop{
	margin-top: 50px;
	border:10px solid black;
	background-color: black;
	color:white;
	width:30%;
	text-align: center;
	border-radius: 7px;
	font-size: 16px;
	margin-left: 20px;
}
.iso{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width:70%;
	
}
.vajpaiiDiv{
	width:40%;
}
.VajpaiiImg{

width:100%

}
.rupee{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.flexImage{
	display:flex;
	justify-content: space-between;
	padding-left: 70px;
  }
  .professional{
	font-size: 40px;
	color:red;
	font-weight: bold;
}
.NonGst{
	font-size: 40px;
	color:red;
	font-weight: bold;
}
		.op{
			background:white;
			border-bottom:10px solid orange;
			width:100%;
		}
		.coneImgDiv{
			background-color: rgb(238, 235, 232);
			width:100%;
			padding-left: 70px;
		}
		
		.flexHiddenImg{
			display:flex;
			justify-content: space-between;
			padding-bottom: 30px;
		}
		.ManImgDiv{
			width:30%;
			}
			.manImg{
				width:100%;
			}
				

		.flexImageContent{
			display:flex;
			justify-content: space-between;
			}
			.commentImgDiv{
				width:20%;
				margin-left: 70px;
				margin-top: 70px;
			}
			.commentImg{
				width:75%;
				margin-left: 70px;
			}
			
			.flexBusiness{
				display:flex;
				justify-content: space-between;
				padding-left:70px;
				width:100%;
			}

		.onlineContentDiv{
	     margin-top: 170px;
	     width:50%;
         }

		 .storeImgDiv{
			width:50%;
		}
		.memberIconsDiv{
			display:flex;
			justify-content: space-between;
			background-color: white;
			width:100%;
		}
		.memberIcons{
			width:15%;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		.memberIconImg{
			width:150px;
		}
		
		.memberIconImg1{
			width:150px;
			height: 50px;
		}
	
}



@media(min-width:700px) and (max-width:775px){
	.headerCom{
		display: none;
	}
	.textDiv{
		padding-top: 25px;
		display: flex;
		justify-content: space-between;
		background-color: rgb(238, 235, 232);
	}
	.IndiasNo1{
		width:60%;
		padding-left: 70px;
	 }
	 .spanText{
		font-size:20px;
		font-weight: bold;
		
	}
	.createGstComp{
		font-size: 18px;
		margin-top: 20px;
	}

	.inputTextOp{
		width:100%;
		margin-top: 20px;
	 }
	 .textOp{
		 height: 50px;
		 font-size: 19px;
	 }

	 .freeTrail{
		height:50px;
	}
	 .desktop{
		margin-top: 30px;
		border:10px solid black;
		background-color: black;
		color:white;
		width:60%;
		display: flex;
		justify-content: center;
		align-items:center;
		border-radius: 7px;
		font-size: 16px;
		margin-left: 20px;
		height:40px;
	}
	
.iso{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width:100%;
	
}
.India{
		font-size: 15px;
	}
	
	.isoCertified{
		width: 80px;
	}

	.customerChoice{
		width:90px
	}
	.vajpaiiDiv{
		width:40%;
	}
	.VajpaiiImg{	
	  width:100%;
	  height:100%;
	
	}
	.rupee{
		display: flex;
		justify-content: space-between;
		margin-right: 50px;
		width:100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.lakh{
		text-align: center;
		color:orange;
		font-size:30px;
	}
	.trustBussiness{
		font-size:20px;
		text-align: center;
	}
	
	.CreateAndPrint{
		width:50%;
	}

	.lapimage{
		width:50%;
	}
	
	.invoiceImage{
		width:100%;
		height: 100%;
	}
.Create{
	margin-top: 80px;
	font-size: 25px;

}
.professional{
	font-size: 25px;
	color:red;
	font-weight: bold;
}
.NonGst{
	font-size: 25px;
	color:red;
	font-weight: bold;
}
.or{
	font-size: 40px;
	font-weight: bold;
}
.fully{
 margin-top: 40px;
 font-size: 20px;
}
.op{
	background:white;
	border-bottom:10px solid orange
}
.list{
	margin-top: 15px;
	font-size: 20px;
	margin-left: 10px;
}

.flexImage{
  display:flex;
  justify-content: space-between;
  padding-left: 70px;
  border:2px solid pink;
}

		
.whyUseBillBook{
	padding-left: 70px;
	margin-top: 40px;
}
.why{
	font-size: 25px;
	font-weight: bold;
}
.Flexicons{
	display:flex;
	justify-content: space-between;
	padding-left: 70px;
	padding-right: 70px;
}
.invoiceWebp{
	margin-top: 100px;
	width:30%;
	text-align: center;
}
.imgHight{
	height: 90px;
	width:90px;
}
.manageInventory{
	margin-top: 10px;
	font-size: 20px;
}

.flexHiddenImg{
	display:flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
  .ManImgDiv{
   width:50%;
}
.manImg{
	width:100%;
	height:100%;
}

.retailersDiv{
	width:50%;
}
.ForRetailers{
	display: flex;
	justify-content: space-between;
	margin-top:40px;
	width:100%;
	height:80px;
	background:white;
	padding-left: 20px;

}

.manyButtons{
	padding-left: 70px;
 }

.what{
	font-size: 30px;
}
.ourUsers{
	color:orange;
	font-size: 30px;
	font-weight: bold;
}

.Bussiness{
	margin-top: 10px;
	font-size: 20px;

}
.SayAboutUs{
	font-size: 30px;
}
.Fmgc{
	margin-top: 20px;
	font-size: 13px;
	border:5px solid red;
	background:red;
	width:13%;
	border-radius: 20px;
}
.Electronics{
	font-size: 13px;
	border:5px solid green;
	background:green;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;


}
.Hardware{
	font-size: 13px;
	border:5px solid yellow;
	background:yellow;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;


}
.Kirana{
	font-size: 13px;
	border:5px solid blue;
	background:blue;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;
}
.Jewellery{
	font-size: 13px;
	border:5px solid blueviolet;
	background:blueviolet;
	margin-left: 20px;
	width:13%;
	border-radius: 20px;
}
.Pharma{
	font-size: 13px;
	border:5px solid orange;
	background:orange;
	width:13%;
	border-radius: 20px;
}
.Transportation{
	font-size: 13px;
	border:5px solid rgb(121, 169, 203);
	background: rgb(121, 169, 203);
	margin-left: 20px;
	border-radius: 20px;
	width:15%;
}

.flexImageContent{
display:flex;
justify-content: space-between;
padding-left: 40px;
}
.FmgcContent{
	width:75%;
	margin-top: 70px;
	padding-right:20px;
padding-left: 20px;
}

.guru{
	font-size: 20px;
}
.student{
	font-size: 18px;
}
.commentImgDiv{
	width:20%;
	margin-left: 0px;
	margin-top: 70px;
}
.commentImg{
	width:100%;
	margin-left: 0px;
	height:80%;
}

.flexBusiness{
	display:flex;
	justify-content: space-between;
	padding-left:70px;
	width:100%;
}
.onlineContentDiv{
	margin-top: 60px;
	width:50%;
}

.TakeYourBusiness{
	font-size: 30px;
	font-weight: bold;
}
.online{
	color:orange;
	font-size: 30px;
	font-weight: bold;
}
.setup{
	font-size: 20px;
}

.storeImgDiv{
	width:50%;
	height: 100%;
}
.storeImg{

	width:90%;
}

.benifitsOfBillbook{
	margin-top: 30px;
	padding-left:70px;
}
.benifits{
	font-size: 30px;
	color:orange;
	font-weight: bold;
}
.billBook{
	font-size: 30px;

}
.flexNewIcons{
	padding-left: 70px;
	padding-right:70px;
	margin-left:0px;
	display:flex;
	justify-content: space-between;
	margin-top: 30px;
}
.safeAndSecureDiv{
	width:30%;
	text-align: center;
}
.safeAndSecureImg{
	height: 90px;
	width: 90px;
	
}
.safeAnd{
	font-size: 20px;
	text-align: center;
}
.AssociationDiv{
	margin-top: 30px;
	margin-left: 70px;
}
.Associations{
	font-size: 30px;
	color:orange;
	margin-bottom: 20px;
}
.And{
	font-size: 30px;
}
.memberIconsDiv{
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	background-color: white;
	width:100%;
}
.memberIcons{
	width:15%;
	display:flex;
	justify-content: center;
	margin-left: 0px;
	margin-right: 0px;
	align-items: center;
}
.memberIconImg{
	width:60px;
}

.memberIconImg1{
	width:60px;
	height:10px;
}



}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 
@media(min-width:370px) and (max-width:450px){

	.headerCom{
		display: none;
	}
	.textDiv{
		padding-top: 25px;
		display: flex;
       flex-direction: column;
       background-color: rgb(238, 235, 232);
	    border:2px solid red;
		padding-right: 10px;
	}
	.IndiasNo1{
		width:100%;
		padding-left:10px;
	 }
	 .spanText{
		font-size:20px;
		font-weight: bold;
		
	}
	.createGstComp{
		font-size: 18px;
		margin-top: 20px;
	}

	.inputTextOp{
		width:100%;
		margin-top: 20px;
	 }
	 .textOp{
		 height: 50px;
		 font-size: 19px;
	 }

	 .freeTrail{
		height:50px;
	}
	 .desktop{
		margin-top: 30px;
		border:10px solid black;
		background-color: black;
		color:white;
		width:70%;
		display: flex;
		justify-content: center;
		align-items:center;
		border-radius: 7px;
		font-size: 16px;
		margin-left: 20px;
		height:40px;
	}
	
.iso{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width:100%;
	
}
.India{
		font-size: 15px;
	}
	
	.isoCertified{
		width: 80px;
	}

	.customerChoice{
		width:90px
	}
	.vajpaiiDiv{
		width:100%;
	}
	.VajpaiiImg{	
	  width:100%;
	  height:100%;
	
	}
	.rupee{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-right: 50px;
		width:100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.lakh{
		text-align: center;
		color:orange;
		font-size:30px;
	}
	.trustBussiness{
		font-size:20px;
		text-align: center;
	}
	
	.CreateAndPrint{
		width:100%;
	}

	.lapimage{
		width:100%;
	}
	
	.invoiceImage{
		width:100%;
		height: 100%;
	}
.Create{
	margin-top: 80px;
	font-size: 30px;

}
.professional{
	font-size: 25px;
	color:red;
	font-weight: bold;
}
.NonGst{
	font-size: 25px;
	color:red;
	font-weight: bold;
}
.or{
	font-size: 40px;
	font-weight: bold;
}
.fully{
 margin-top: 40px;
 font-size: 20px;
}
.op{
	background:white;
	border-bottom:10px solid orange
}
.list{
	margin-top: 15px;
	font-size: 20px;
	margin-left: 10px;
}

.flexImage{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
  border:2px solid pink;
}

		
.whyUseBillBook{
	padding-left: 70px;
	margin-top: 30px;
}
.why{
	font-size: 30px;
	font-weight: bold;
}
.Flexicons{
	display:flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}
.invoiceWebp{
	margin-top: 30px;
	width:30%;
	text-align: center;
}
.imgHight{
	height: 80px;
	width:80px;
}
.manageInventory{
	margin-top: 10px;
	font-size: 20px;
}

.flexHiddenImg{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 30px;
}
  .ManImgDiv{
   width:50%;
   display:none;
}

.retailersDiv{
	width:100%;
	margin-left: 0px;
}
.ForRetailers{
	display: flex;
	justify-content: space-between;
	margin-top:40px;
	width:100%;
	height:80px;
	background:white;
	padding-left: 20px;

}

.coneImgDiv{
	background-color: rgb(238, 235, 232);
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
}

.manyButtons{
	padding-left: 10px;
	width:100%;
 }

.what{
	font-size: 30px;
}
.ourUsers{
	color:orange;
	font-size: 30px;
	font-weight: bold;
}

.Bussiness{
	margin-top: 10px;
	font-size: 20px;

}
.SayAboutUs{
	font-size: 30px;
}
.Fmgc{
	margin-top: 20px;
	font-size: 13px;
	border:5px solid red;
	background:red;
	width:20%;
	border-radius: 20px;
}
.Electronics{
	font-size: 13px;
	border:5px solid green;
	background:green;
	margin-left: 20px;
	width:20%;
	border-radius: 20px;


}
.Hardware{
	font-size: 13px;
	border:5px solid yellow;
	background:yellow;
	margin-left: 20px;
	width:20%;
	border-radius: 20px;


}
.Kirana{
	font-size: 13px;
	border:5px solid blue;
	background:blue;
	margin-left: 20px;
	width:20%;
	border-radius: 20px;
}
.Jewellery{
	font-size: 13px;
	border:5px solid blueviolet;
	background:blueviolet;
	margin-left: 10px;
	margin-top: 20px;
	width:20%;
	border-radius: 20px;
}
.Pharma{
	font-size: 13px;
	border:5px solid orange;
	background:orange;
	width:20%;
	border-radius: 20px;
}
.Transportation{
	font-size: 13px;
	border:5px solid rgb(121, 169, 203);
	background: rgb(121, 169, 203);
	margin-left: 20px;
	border-radius: 20px;
	width:25%;
}

.flexImageContent{
display:flex;
justify-content: space-between;
padding-left: 10px;
}
.FmgcContent{
	width:75%;
	margin-top: 70px;
	padding-right:20px;
    padding-left: 20px;
}

.guru{
	font-size: 20px;
}
.student{
	font-size: 18px;
}
.commentImgDiv{
	width:20%;
	margin-left: 0px;
	margin-top: 70px;
}
.commentImg{
	width:100%;
	margin-left: 0px;
	height:30%;
}

.flexBusiness{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	padding-left:10px;
	width:100%;
}
.onlineContentDiv{
	margin-top: 30px;
	width:100%;
}

.TakeYourBusiness{
	font-size: 30px;
	font-weight: bold;
}
.online{
	color:orange;
	font-size: 30px;
	font-weight: bold;
}
.setup{
	font-size: 20px;
}

.storeImgDiv{
	width:100%;
	height: 100%;
	text-align: center;
}
.storeImg{
	width:100%;
}

.benifitsOfBillbook{
	margin-top: 30px;
	padding-left:10px;
}
.benifits{
	font-size: 30px;
	color:orange;
	font-weight: bold;
}
.billBook{
	font-size: 30px;

}
.flexNewIcons{
	padding-left: 10px;
	padding-right:10px;
	margin-left:0px;
	display:flex;
	justify-content: space-between;
	margin-top: 30px;
}
.safeAndSecureDiv{
	width:30%;
	text-align: center;
}
.safeAndSecureImg{
	height: 70px;
	width: 70px;
}
.safeAnd{
	font-size: 20px;
	text-align: center;
}
.AssociationDiv{
	margin-top: 30px;
	margin-left: 10px;
}
.Associations{
	font-size: 30px;
	color:orange;
	margin-bottom: 20px;
}
.And{
	font-size: 30px;
}
.memberIconsDiv{
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	background-color: white;
	width:100%;
}
.memberIcons{
	width:15%;
	display:flex;
	justify-content: center;
	margin-left: 0px;
	margin-right: 0px;
	align-items: center;
}
.memberIconImg{
	width:60px;
}

.memberIconImg1{
	width:60px;
	height:10px;
}


}