<div class="account-content">
  <div class="container">
    <!-- Account Logo -->
    <div class="account-logo">
      <a href="javascript:"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies" /></a>
    </div>
    <!-- /Account Logo -->

    <div class="account-box">
      <div class="account-wrapper">
        <h3 class="account-title"> Main-Admin Login</h3>
        <p class="account-subtitle">Access to our dashboard</p>

        <!-- Account Form -->
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label>Username Address</label>
            <input class="form-control" type="text" formControlName="username" id="username" />
            <ng-container *ngIf="form.get('username').invalid && form.get('username').touched">
              <small *ngIf="form.get('username').errors.required" style="color: red">
                Email is required.
              </small>
              <small *ngIf="form.get('username').errors.email" style=" color: red;">
                Invalid Email Address.
              </small>
            </ng-container>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Password</label>
              </div>
              <div class="col-auto">
                <a class="text-muted" role="button" (click)="sendTo()">
                  Forgot password?
                </a>
              </div>
            </div>
            <div class="position-relative">
              <input class="form-control" [type]="Toggledata ? 'password' : 'text'" formControlName="password"
                id="password" [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}" />
              <span [ngClass]="Toggledata == true ? 'fa toggle-password fa-eye' : 'fa toggle-password fa-eye-slash'"
                (click)="iconLogle()"></span>
            </div>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
              <div *ngIf="f['password'].errors && f['password'].errors['required']">
                Password is required.
              </div>
            </div>
            <div class="text-danger" *ngIf="CustomControler ?.status === 'password'">{{ CustomControler.message }}</div>
          </div>
          <div class="form-group text-center">

            <button class="btn btn-primary account-btn" type="submit" [disabled]="form.invalid">Login</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>