<h2 mat-dialog-title>Timely Payment</h2>
<mat-dialog-content class="mat-typography">

  <p> To be very specific, offering multiple payment options has the following pros- </p>
<p>1. Increase in the Conversion Rate 2. Lesser Abandoned Carts 3.Customer Satisfaction </p>
<p>4. Brand Credibility 5. Hassle-free Checkout 6. Brand Credibility 7. Hassle-free Checkout</p>

<p>How would you feel if you are on the verge of making the product payment but do not find</p>

<p>your desired payment option? A bit disappointed, right? The disappointment can be extreme if</p>
<p>you are committed to buying that product.</p>

<p>Conversely, you would be happy if you find the payment method that you were looking for or find</p>
<p>the only source of payment that you can use to pay among the listed payment modes. This is the </p>
<p>normal consumer behavior.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="accent">Close</button>
  <button mat-flat-button [mat-dialog-close]="true" color="accent">Click</button>
</mat-dialog-actions>
