<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Pending KYC</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/mainadmin/admindashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Pending Kyc</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <div class="view-icons">
          <a routerLink="/layout/mainadmin/pendingkyc/pendingkyc" class="list-view btn btn-link active"
            title="Pending Kyc"><i class="fa fa-bars"></i></a>
          <a routerLink="/layout/mainadmin/verifykyc/verifykyc" class="list-view btn btn-link active"
            title="Verify Kyc"><i class="fa fa-bars"></i></a>
          <a routerLink="/layout/mainadmin/rejectkyc/rejectkyc" class="list-view btn btn-link active"
            title="Rejected Kyc"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
          class="table table-striped custom-table datatable">
          <thead>
            <tr>
              <th>Sr.no.</th>
              <th>Affiliate Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>PAN Card No.</th>
              <th>Aadhaar Card no.</th>
              <th *ngIf="
              user_type == 'mainadmin' ||
              (user_type === 'subadmin' &&
                (kycwrite == 'true'))
            ">PAN Card</th>
              <th *ngIf="
              user_type == 'mainadmin' ||
              (user_type === 'subadmin' &&
                (kycwrite == 'true'))
            ">Aadhaar Card</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pendingData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.aId }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.panCardNo }}</td>
              <td>{{ item.aadhaarCardNo }}</td>

              <td *ngIf="
              user_type == 'mainadmin' ||
              (user_type === 'subadmin' &&
                (kycwrite == 'true'))
            ">
                <ng-container *ngIf="item.panVerified == 1">
                  <div class="d-inline p-2 bg-primary text-white">
                    <a data-bs-toggle="modal" data-bs-target="#viewPanButton"
                      (click)="setCuurentDetailsPan(item.id, item.panCard)">
                      View PAN</a>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.panVerified == 2">
              <td class="text-success">Approved</td>
              </ng-container>
              <ng-container *ngIf="item.panVerified == 3">
                <td class="text-danger">Rejected</td>
              </ng-container>
              </td>
              <td *ngIf="
              user_type == 'mainadmin' ||
              (user_type === 'subadmin' &&
                (kycwrite == 'true'))
            ">
                <ng-container *ngIf="item.aadhaarVerified == 1">
                  <div class="d-inline p-2 bg-primary text-white">
                    <a data-bs-toggle="modal" data-bs-target="#viewAadhaarButton" (click)="
                        setCuurentDetailsAadhar(
                          item.id,
                          item.aadhaarCard,
                          item.aadhaarCardBack
                        )
                      ">
                      View Aadhaar</a>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.aadhaarVerified == 2">
              <td class="text-success">Approved</td>
              </ng-container>

              <ng-container *ngIf="item.aadhaarVerified == 3">
                <td class="text-danger">Rejected</td>
              </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

<!-- View Pan Button -->

<div class="modal custom-modal fade" id="viewPanButton" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>PAN Card View</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
            data-bs-target="#viewPanButton">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>View PAN Photo mode</p>
          <img src="{{ panCardPath }}" alt="noImg" height="450 px" width="450px" />
        </div>

        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-primary continue-btn" (click)="getPanApprove()">Approve</a>
            </div>

            <div class="col-6">
              <tr *ngFor="let item of pendingData; let i = index">
                <a class="btn btn-primary continue-btn" data-bs-toggle="modal" data-bs-target="#add_reject"
                  (click)="id = item.id">
                  Reject</a>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /View PAN Button -->

<!-- View Aadhaar Button -->

<div class="modal custom-modal fade" id="viewAadhaarButton" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Aadhaar Card View</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
            data-bs-target="#viewAadhaarButton">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>View Aadhaar front photo</p>
          <img src="{{ aadhaarCardPath }}" alt="noImage" height="450 px" width="450px" />
          <p>View Aadhaar back photo</p>

          <img src="{{ aadhaarCardBackPath }}" alt="noImg" height="450 px" width="450px" />
        </div>

        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-primary continue-btn" (click)="getAadhaarApprove()">Approve</a>
            </div>

            <div class="col-6">
              <tr *ngFor="let item of pendingData; let i = index">
                <a class="btn btn-primary continue-btn" data-bs-toggle="modal" data-bs-target="#add_reject_aadhaar"
                  (click)="id = item.id">
                  Reject</a>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /View Aadhaar Button -->

<!--  PAN Reject Button -->

<div class="modal custom-modal fade" id="add_reject" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Remark</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#add_reject">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getPanReject()" [formGroup]="addRejectForm">
          <div class="form-group">
            <label>Remark <span class="text-danger">*</span></label>
            <textarea class="form-control" type="text-area" [class.invalid]="
                addRejectForm.get('addRemark').invalid &&
                addRejectForm.get('addRemark').touched
              " formControlName="addRemark"></textarea>
            <div *ngIf="
                addRejectForm.get('addRemark').invalid &&
                addRejectForm.get('addRemark').touched
              ">
              <small *ngIf="
                  addRejectForm.get('addRemark').invalid &&
                  addRejectForm.get('addRemark').touched
                " class="text-danger">
                *Remark is required</small>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /PAN reject Button -->

<!-- Aadhaar Reject Button -->

<div class="modal custom-modal fade" id="add_reject_aadhaar" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add-Remark</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
          data-bs-target="#add_reject_aadhaar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getAadhaarReject()" [formGroup]="addRejectForm">
          <div class="form-group">
            <label>Remark <span class="text-danger">*</span></label>
            <textarea class="form-control" type="text-area" [class.invalid]="
                addRejectForm.get('addRemark').invalid &&
                addRejectForm.get('addRemark').touched
              " formControlName="addRemark"></textarea>
            <div *ngIf="
                addRejectForm.get('addRemark').invalid &&
                addRejectForm.get('addRemark').touched
              ">
              <small *ngIf="
                  addRejectForm.get('addRemark').invalid &&
                  addRejectForm.get('addRemark').touched
                " class="text-danger">
                *Remark is required</small>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Aadhaar Reject Button -->