<app-header class="headerCom"></app-header>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-primary text-center text-white"
                style="font-size: large; font-weight: 600; background-color: #337ab7">
                <span id="ContentPlaceHolder1_asd_lbl">Welcome To Employee Management System </span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row itemTopDiv">
    <div class=" col-sm-2"></div>
    <div class="col-sm-8 itemDiv">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white " style="font-size: medium; font-weight: 600">
                <span id="ContentPlaceHolder1_Label1">User Account Information</span>
            </div>
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span id="ContentPlaceHolder1_lb1">Employee Up To
                                        :-</span>
                                </div>
                                <div class=" col-sm-4 float-left">
                                    <ng-container *ngIf="dSingleUser">
                                        <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text"
                                            value="{{dSingleUser}}" readonly="readonly"
                                            id="ContentPlaceHolder1_emp_count_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="dMultiUser">
                                        <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text"
                                            value="{{dMultiUser}}" readonly="readonly"
                                            id="ContentPlaceHolder1_emp_count_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="PtSingleUser">
                                        <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text"
                                            value="{{PtSingleUser}}" readonly="readonly"
                                            id="ContentPlaceHolder1_emp_count_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="PtMultiUser">
                                        <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text"
                                            value="{{PtMultiUser}}" readonly="readonly"
                                            id="ContentPlaceHolder1_emp_count_lbl" class="form-control" />

                                    </ng-container>
                                    <ng-container *ngIf="epMultiUser">
                                        <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text"
                                            value="{{epMultiUser}}" readonly="readonly"
                                            id="ContentPlaceHolder1_emp_count_lbl" class="form-control" />
                                    </ng-container>
                                </div>
                                <div class="col-sm-4">
                                    <ng-container *ngIf="dSingleUser">
                                        <span id="ContentPlaceHolder1_user_login_type_lbl"
                                            style="font-size:14px;">Diamond(Single-User)
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="dMultiUser">
                                        <span id="ContentPlaceHolder1_user_login_type_lbl"
                                            style="font-size:14px;">Diamond(Multi-User)
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="PtSingleUser">
                                        <span id="ContentPlaceHolder1_user_login_type_lbl"
                                            style="font-size:14px;">Platinum(Single-User)
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="PtMultiUser">
                                        <span id="ContentPlaceHolder1_user_login_type_lbl"
                                            style="font-size:14px;">Platinum(Multi-User)
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="epMultiUser">
                                        <span id="ContentPlaceHolder1_user_login_type_lbl"
                                            style="font-size:14px;">Enterprise(Multi-User)
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col-sm-4">
                                    <span id="ContentPlaceHolder1_Label20">Payable Amount
                                        :-</span>
                                </div>
                                <div class="col-sm-8 text-left" style="font-size: large">
                                    <ng-container *ngIf="totaldSingleMonthAmount">
                                        <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text"
                                            value="{{totaldSingleMonthAmount}}" readonly="readonly"
                                            id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="totaldMultiMonthAmount">
                                        <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text"
                                            value="{{totaldMultiMonthAmount}}" readonly="readonly"
                                            id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="totalPtSingleMonthAmount">
                                        <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text"
                                            value="{{totalPtSingleMonthAmount}}" readonly="readonly"
                                            id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="totalPtMultiMonthAmount">
                                        <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text"
                                            value="{{totalPtMultiMonthAmount}}" readonly="readonly"
                                            id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                    </ng-container>
                                    <ng-container *ngIf="totalEpMonthAmount">
                                        <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text"
                                            value="{{totalEpMonthAmount}}" readonly="readonly"
                                            id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                    </ng-container>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <span id="ContentPlaceHolder1_Label2">Corporate ID
                                        :-</span>
                                </div>
                                <div class="col-sm-5">

                                    <input name="ctl00$ContentPlaceHolder1$login_TextBox" type="text"
                                        id="ContentPlaceHolder1_login_TextBox" class="form-control"
                                        placeholder="CorporateID" maxlength="15" style="font-size: small;" />
                                </div>

                                <div class="col-sm-3">
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$check_corporate_id_btn"
                                        value="Check ID" id="ContentPlaceHolder1_check_corporate_id_btn"
                                        class="btn btn-info checkButton" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label4">Login Created On
                                        :-</span>
                                </div>
                                <div class="col-sm-7 text-left" style="font-size: large; color: green">
                                    <span id="ContentPlaceHolder1_start_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label6">Expired On :-</span>
                                </div>
                                <div class="col-sm-7 text-left" style="font-size: large; color: red">
                                    <span id="ContentPlaceHolder1_exp_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label5">After Renew Exp. On
                                        :-</span>
                                </div>
                                <div class="col-sm-7 " style="font-size: large; color: red">
                                    <span id="ContentPlaceHolder1_renew_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 marginTop">
                            <div class="text-center">
                                <span id="ContentPlaceHolder1_Label7" style="font-weight: bold;">Billing Details /
                                    Invoice Details</span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm ">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_name_lbl">Company Name :-</span>
                                                <span id="ContentPlaceHolder1_Label12"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <input name="ctl00$ContentPlaceHolder1$comp_text" type="text"
                                        id="ContentPlaceHolder1_comp_text" class="form-control"
                                        placeholder="Company Name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_Label3">Address :-</span>
                                                <span id="ContentPlaceHolder1_Label13"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <textarea name="ctl00$ContentPlaceHolder1$add_text"
                                        id="ContentPlaceHolder1_add_text" class="form-control" placeholder="Address..."
                                        aria-multiline="true"></textarea>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_Label8">PAN No. :-</span>
                                                <span id="ContentPlaceHolder1_Label17"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <input name="ctl00$ContentPlaceHolder1$pan_ttext" type="text"
                                        id="ContentPlaceHolder1_pan_ttext" placeholder="PAN No." maxlength="20"
                                        class="form-control" />

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_Label9">GST No. :-</span>
                                                <span id="ContentPlaceHolder1_Label18"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <input name="ctl00$ContentPlaceHolder1$gst_text" type="text"
                                        id="ContentPlaceHolder1_gst_text" placeholder="GST No." maxlength="20"
                                        class="form-control" />

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_Label10">E-Mail :-</span>
                                                <span id="ContentPlaceHolder1_Label23"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <input name="ctl00$ContentPlaceHolder1$email_text" type="text"
                                        id="ContentPlaceHolder1_email_text" placeholder="E-mail" maxlength="100"
                                        class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left labelop">
                                                <span id="ContentPlaceHolder1_Label11">Mo. :-</span>
                                                <span id="ContentPlaceHolder1_Label19"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 ok">
                                    <input name="ctl00$ContentPlaceHolder1$mo_text" type="text"
                                        id="ContentPlaceHolder1_mo_text" placeholder="Mobile No." maxlength="15"
                                        class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <br />
            <div class="row text-center m-3">
                <div class="col-sm m-2">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$go_back_btn" value="Go Back"
                        id="ContentPlaceHolder1_go_back_btn" class="btn-danger btn goBack"
                        routerLink="/pages/pricing" />
                </div>

                <div class="col-sm">
                    <div [hidden]="showPromo">
                        <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label> Enter Promo Code</mat-label>
                            <input matInput type="text" value=" " (keyup)="getOffer($event.target.value)">
                        </mat-form-field>
                    </div>
                    <a class="promoCode" (click)="usePromo()">Have a Promo Code</a>
                </div>
                <div class="col-sm m-2">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$make_pay_btn" value="Make Payment"
                        id="ContentPlaceHolder1_make_pay_btn" class="btn-success btn makePayment"
                        style="background-color:#83B111;border-color:#83B111;" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>















<app-footer></app-footer>