
.promoCode{
    color: blue;
    cursor:pointer;
}
 .makePayment{
     border-radius: 5px;
 }
 .goBack{
    border-radius: 5px;
 }
 .checkButton{
    border-radius: 5px;
 }
 .ok{
     margin-left:-10px;
 }
 .labelop{
    display:flex;
    justify-content: flex-end;
 }
 .checkId {
   width: 100px;
   margin-left: 55px;
   margin-top: 10px;
   border-radius: 5px;
   border: 2px solid black;
 }
 @media(min-width:700px) and (max-width:780px){
    .headerCom{
        display: none;
    }
    .itemDiv{
        width:98%;
      margin-left:20px;  
      }
      .itemTopDiv{
        width:100%;
      }
 }
 @media(min-width:300px) and (max-width:480px){
    .headerCom{
        display: none;
    }
    .itemDiv{
        width:95%;
      margin-left:18px;  
      }

      .checkButton{
        border-radius: 5px;
        margin-top: 10px;
     }
     .marginTop{
        margin-top: 20px;
     }
     .labelop{
        display:flex;
        justify-content: flex-start;
        margin-top: 5px;
     }
     .ok{
        margin-left:-10px;
        margin-top: 2px;
    }
 }
