<app-header></app-header>


<!-- <div class="miniHeader">
    <h3 style="color:white">Welcome to Hr Management System</h3>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mainDiv">
            <h4 style="color: white;">User Account Information</h4>
        </div>
        <div class="col-md-12 childDiv">
            <form class="formCheckout">
                <label>Total Employee :-</label>
                <input type="text" id="lname" name="lname" disabled placeholder="Employee" class="inputEmp"><br><br>

                <label>Payable Amount :-</label>
                <input type="text" id="lname" name="lname" disabled placeholder="Employee" class="inputEmp"><br><br>


                <label>Corporate ID :- :-</label>
                <input class="form-control" type="text" id="lname" name="lname" placeholder="Corporate id"
                    class="inputEmp">
            </form>



        </div>
    </div>
</div> -->



<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-primary text-center text-white"
                style="font-size: large; font-weight: 600; background-color: #337ab7">

                <span id="ContentPlaceHolder1_asd_lbl">Welcome e-Timeoffice Softech Pvt. Ltd. Please Enter Your Payment
                    Information</span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white " style="font-size: medium; font-weight: 600">
                <span id="ContentPlaceHolder1_Label1">User Account Information</span>
            </div>
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span id="ContentPlaceHolder1_lb1" style="font-weight:bold;">Employee Up To
                                        :-</span>
                                </div>
                                <div class="col-sm-4 float-left">

                                    <input name="ctl00$ContentPlaceHolder1$emp_count_lbl" type="text" value="50"
                                        readonly="readonly" id="ContentPlaceHolder1_emp_count_lbl"
                                        class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <span id="ContentPlaceHolder1_user_login_type_lbl" style="font-size:Large;">Multi
                                        User</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col-sm-4">
                                    <span id="ContentPlaceHolder1_Label20" style="font-weight:bold;">Payable Amount
                                        :-</span>
                                </div>
                                <div class="col-sm-8 text-left" style="font-size: large">

                                    <input name="ctl00$ContentPlaceHolder1$pay_lbl" type="text" value="3540"
                                        readonly="readonly" id="ContentPlaceHolder1_pay_lbl" class="form-control" />
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <span id="ContentPlaceHolder1_Label2" style="font-weight:bold;">Corporate ID
                                        :-</span>
                                </div>
                                <div class="col-sm-5">

                                    <input name="ctl00$ContentPlaceHolder1$login_TextBox" type="text"
                                        id="ContentPlaceHolder1_login_TextBox" class="form-control"
                                        placeholder="CorporateID" maxlength="15" style="font-size: small;" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$check_corporate_id_btn"
                                        value="Check ID" id="ContentPlaceHolder1_check_corporate_id_btn"
                                        class="btn btn-info" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label4" style="font-weight:bold;">Login Created On
                                        :-</span>
                                </div>
                                <div class="col-sm-7 text-left" style="font-size: large; color: green">
                                    <span id="ContentPlaceHolder1_start_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label6" style="font-weight:bold;">Expired On :-</span>
                                </div>
                                <div class="col-sm-7 text-left" style="font-size: large; color: red">
                                    <span id="ContentPlaceHolder1_exp_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-5">
                                    <span id="ContentPlaceHolder1_Label5" style="font-weight:bold;">After Renew Exp. On
                                        :-</span>
                                </div>
                                <div class="col-sm-7 " style="font-size: large; color: red">
                                    <span id="ContentPlaceHolder1_renew_date_lbl" style="font-size:Medium;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="text-center">
                                <span id="ContentPlaceHolder1_Label7">Billing Details / Invoice Details</span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_name_lbl">Company Name :-</span>
                                                <span id="ContentPlaceHolder1_Label12"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input name="ctl00$ContentPlaceHolder1$comp_text" type="text"
                                        id="ContentPlaceHolder1_comp_text" class="form-control"
                                        placeholder="Company Name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_Label3">Address :-</span>
                                                <span id="ContentPlaceHolder1_Label13"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <textarea name="ctl00$ContentPlaceHolder1$add_text"
                                        id="ContentPlaceHolder1_add_text" class="form-control" placeholder="Address..."
                                        aria-multiline="true"></textarea>

                                </div>
                            </div>


                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_Label8">PAN No. :-</span>
                                                <span id="ContentPlaceHolder1_Label17"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input name="ctl00$ContentPlaceHolder1$pan_ttext" type="text"
                                        id="ContentPlaceHolder1_pan_ttext" placeholder="PAN No." maxlength="20"
                                        class="form-control" />

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_Label9">GST No. :-</span>
                                                <span id="ContentPlaceHolder1_Label18"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input name="ctl00$ContentPlaceHolder1$gst_text" type="text"
                                        id="ContentPlaceHolder1_gst_text" placeholder="GST No." maxlength="20"
                                        class="form-control" />

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_Label10">E-Mail :-</span>
                                                <span id="ContentPlaceHolder1_Label23"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input name="ctl00$ContentPlaceHolder1$email_text" type="text"
                                        id="ContentPlaceHolder1_email_text" placeholder="E-mail" maxlength="100"
                                        class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">
                                                <span id="ContentPlaceHolder1_Label11">Mo. :-</span>
                                                <span id="ContentPlaceHolder1_Label19"
                                                    style="color:Red;font-size:Large;">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input name="ctl00$ContentPlaceHolder1$mo_text" type="text"
                                        id="ContentPlaceHolder1_mo_text" placeholder="Mobile No." maxlength="15"
                                        class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="float-lg-right float-sm-left">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <br />
            <div class="row text-center m-3">
                <div class="col-sm m-2">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$go_back_btn" value="Go Back"
                        id="ContentPlaceHolder1_go_back_btn" class="btn-danger btn" />
                </div>
                <div class="col-sm m-2">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$make_pay_btn" value="Make Payment"
                        id="ContentPlaceHolder1_make_pay_btn" class="btn-success btn"
                        style="background-color:#83B111;border-color:#83B111;" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>















<app-footer></app-footer>