/* .miniHeader{
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 50px;
    margin-top: 50px;
    background-color: rgb(81, 81, 235);
    
}


.mainDiv{
    width:100%;
    background-color: brown;
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items:center;

}
.childDiv{
    border:2px solid red;

}

.formCheckout{

    margin-top: 30px;
}

.inputEmp{
    margin-left: 10px;
    height:40px;
} */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
element.style {
    font-size: large;
    font-weight: 600;
    background-color: #337ab7;
}

.card .card-header {
    border-bottom: 0;
    padding: 0.625rem 0.9375rem;
    background-color: transparent;
}


.card {
    margin-bottom: 1.25rem;
}
.card {
    border-color: transparent;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.border-danger {
    border-color: #f05050 !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
div {
    display: block;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.float-left {
    float: left !important;
}

element.style {
    font-size: large;
}
.text-left {
    text-align: left !important;
}

.btn {
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
}
.btn-danger {
    color: #fff;
    background-color: #f05050;
    border-color: #f05050;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #656565;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.52857;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.text-center {
    text-align: center !important;
}


.btn {
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
}
.btn-danger {
    color: #fff;
    background-color: #f05050;
    border-color: #f05050;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #656565;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.52857;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
    margin-bottom: 1.25rem;
    word-wrap: break-word;

}
.card {
    border-color: transparent;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.border-danger {
    border-color: #f05050 !important;
}


element.style {
    font-size: medium;
    font-weight: 600;
}
.card .card-header {
    border-bottom: 0;
    padding: 0.625rem 0.9375rem;
    background-color: transparent;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.bg-danger {
    background-color: #f05050;
    color: #fff !important;
}




button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.btn {
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
}
.btn-info {
    color: #fff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.btn {
    border-radius: 3px;
    font-size: 13px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
}
.btn-danger {
    color: #fff;
    background-color: #f05050;
    border-color: #f05050;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #656565;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.52857;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



element.style {
}
.form-control {
    box-shadow: 0 0 0 #000 !important;
    font-size: 0.875rem;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.1875rem;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.52857;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}

@media(min-width: 576px){
.col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

}

.m-2 {
    margin: 0.5rem !important;
}


 */


 .makePayment{
     border-radius: 5px;
 }
 .goBack{
    border-radius: 5px;
 }
 .checkButton{
    border-radius: 5px;
 }
 .ok{
     margin-left:-10px;
 }
 .labelop{
    display:flex;
    justify-content: flex-end;
 }
 @media(min-width:700px) and (max-width:780px){
    .headerCom{
        display: none;
    }
    .itemDiv{
        width:98%;
      margin-left:20px;  
      }
      .itemTopDiv{
        width:100%;
      }
 }
 @media(min-width:300px) and (max-width:480px){
    .headerCom{
        display: none;
    }
    .itemDiv{
        width:95%;
      margin-left:18px;  
      }

      .checkButton{
        border-radius: 5px;
        margin-top: 10px;
     }
     .marginTop{
        margin-top: 20px;
     }
     .labelop{
        display:flex;
        justify-content: flex-start;
        margin-top: 5px;
     }
     .ok{
        margin-left:-10px;
        margin-top: 2px;
    }
 }
