<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Commissions</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/mainadmin/admindashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Commissions</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <div class="view-icons">
          <a
              routerLink="/layout/mainadmin/commission/commission"
              class="list-view btn btn-link active"
              ><i class="fa fa-bars"></i
            ></a>
            <a
              routerLink="/layout/mainadmin/reject-commission/reject-commission"
              class="list-view btn btn-link active"
              ><i class="fa fa-bars"></i
            ></a>
            <a
              routerLink="/layout/mainadmin/approved-commission/approved-commission"
              class="list-view btn btn-link active"
              ><i class="fa fa-bars"></i
            ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          id="datatable"
          class="table table-striped custom-table datatable"
        >
          <thead>
            <tr>
              <th>aId</th>
              <th>Company Name</th>
              <th>Total Amount</th>
              <th>Commission Amount</th>
              <th>Package Name</th>
              <th>Create Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of data; let i = index">
              
              <td>{{ client.aId }}</td>
              <td>{{ client.companyName }}</td>
              <td>{{ client.amount }}</td>
              <td>{{ client.amount*(30/100) }}</td>
              <td>{{ client.packageName }}</td>
              <td>{{ client.createDate }}</td>
              <td>
                <div class="d-inline p-2 bg-primary text-white">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#delete_pay"
                    (click)="id = client.id"
                  >
                    Pay</a
                  >
                </div>
                &nbsp;
                <div class="d-inline p-2 bg-danger text-white">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#add_reject"
                    (click)="id = client.id"
                  >
                    Reject</a
                  >
                </div>
              </td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
<div class="modal custom-modal fade" id="add_reject" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Mark as Rejected</h3>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
            data-bs-target="#add_reject"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <p>Are you sure to mark as Reject?</p>
        </div>

        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-primary continue-btn" (click)="getRejectStatus()">Yes</a>
            </div>

            <div class="col-6">
              <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn"
                >No</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //////////////// -->

<div class="modal custom-modal fade" id="delete_pay" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Add Paid</h3>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
            data-bs-target="#delete_pay"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <p>Are you sure to add as Paid?</p>
        </div>

        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-primary continue-btn" (click)="getApproveStatus()">Yes</a>
            </div>

            <div class="col-6">
              <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn"
                >No</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






