<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Rejected Requests</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/mainadmin/admindashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Rejected Requests</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <div class="view-icons">
          <a
            routerLink="/layout/mainadmin/withdrawalrequests/withdrawalrequest"
            class="list-view btn btn-link active"
            ><i class="fa fa-bars"></i
          ></a>
          <a
            routerLink="/layout/mainadmin/releasehistory/releasehistory"
            class="list-view btn btn-link active"
            ><i class="fa fa-bars"></i
          ></a>
          <a
            routerLink="/layout/mainadmin/rejected-requests/rejected-requests"
            class="list-view btn btn-link active"
            ><i class="fa fa-bars"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          id="datatable"
          class="table table-striped custom-table datatable"
        >
          <thead>
            <tr>
              <th>Sr.no</th>
              <th>Affiliate Id</th>
              <th> Request Amount</th>
              <th>Payout Amount</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Create Date</th>
              <th>Bank Details</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.affiliateId }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.payoutAmount }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.createDate }}</td>
              <td>{{ item.bankDetails }}</td>
              <td>
                <div class="dropdown action-label">
                  <a
                    class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-dot-circle-o text-success">{{
                      item.status
                    }}</i>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Paid', item.id)"
                      ><i class="fa fa-dot-circle-o text-success"></i> Paid</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="getStatus('Rejected', item.id)"
                      ><i class="fa fa-dot-circle-o text-danger"></i>
                      Rejected</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
