<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Rejected KYC</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/mainadmin/admindashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Rejected Kyc</li>
        </ul>
      </div>

      <div class="col-auto float-end ms-auto">
        <div class="view-icons">
          <a routerLink="/layout/mainadmin/pendingkyc/pendingkyc" class="list-view btn btn-link active"><i
              class="fa fa-bars"></i></a>
          <a routerLink="/layout/mainadmin/verifykyc/verifykyc" class="list-view btn btn-link active"><i
              class="fa fa-bars"></i></a>
          <a routerLink="/layout/mainadmin/rejectkyc/rejectkyc" class="list-view btn btn-link active"><i
              class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->


  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
          class="table table-striped custom-table datatable">
          <thead>
            <tr>
              <th>Sr.no.</th>
              <th>Affiliate Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>PanCard No.</th>
              <th>Aadhaar Card no.</th>
              <th>PAN Upload</th>
              <th>Aadhaar Upload</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.aId }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.panCardNo }}</td>
              <td>{{ item.aadhaarCardNo }}</td>
              <td>
                <ng-container *ngIf="item.panVerified==3">
              <td class="text-danger">Rejected</td>
              </ng-container>
              <ng-container *ngIf="item.panVerified==2">
                <td class="text-success">Approved</td>
              </ng-container>
              </td>
              <td>
                <ng-container *ngIf="item.aadhaarVerified==3">
              <td class="text-danger">Rejected</td>
              </ng-container>
              <ng-container *ngIf="item.aadhaarVerified==2">
                <td class="text-success">Approved</td>
              </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->